{%- comment -%}
 * Ajax Cart
 * --------------------------------------------------------
 * See ajaxcart.js for documentation
 *
 * Remember to style error and loading states
{%- endcomment -%}

{{ 'component-drawer.css' | asset_url | stylesheet_tag }}
{{ 'ajaxcart.css' | asset_url | stylesheet_tag }}


<component-drawer id="CartDrawer" position="right" open="[js-cart-drawer-open]" close="[js-cart-drawer-close]" js-cart-drawer>
  <ajax-cart class="ajaxcart" data-shipping-threshold="{{ settings.shipping_threshold_enabled  }}" data-gift="{{ settings.gift_enable }}">
    <div id="AjaxCartTemplate">
      <header class="ajaxcart__header" ref="cartHeader">
        <h2>Your Cart</h2>
        <button class="ajaxcart__close" js-cart-drawer-close>{% render 'icon-close'%}</button>
        <shipping-threshold 
          v-if="shippingThreshold" 
          class="w-full" 
          :cart="cart"
        />
      </header>
  
      <form v-if="cart" class="ajaxcart__content" :style="{ height: cartHeight }" action="/cart" method="post" novalidate>
        <main class="ajaxcart__main" :class="{ loading: loading.cart }">
          <p v-if="error" class="ajaxcart__error">
            ${ error }
            <button @click.prevent="this.error = false">X</button>
          </p>
          <ul v-if="cart.items.length" class="ajaxcart__products">
            <line-item
              v-for="(item, idx) in cart.items" 
              :item="item" 
              :line="idx + 1" 
              :loading="loading.item === idx"
              :key="item.key"
              @remove-item="removeItem"
              @update-item-quantity="updateItemQuantity"
            />
          </ul>
          <p v-else class="ajaxcart__empty">Your cart is empty</p>

          <upsell-products 
            :cart="cart"
            :handles-in-cart="handlesInCart"
            @add-to-cart="addToCart"
          />

        </main><!--.ajaxcart__main -->
  
        <footer class="ajaxcart__footer" ref="cartFooter">
          <div class="ajaxcart__subtotal">
            <div class="ajaxcart__subtotal-row">
              <p class="ajaxcart__subtotal-title">Subtotal</p>
              <p class="ajaxcart__subtotal-price">${ formatMoney(cart.total_price) }</p>
            </div><!--.ajaxcart__subtotal-row -->
            <p v-if="cart.total_discount" class="ajaxcart__savings">${ cart.total_discount }</p>
          </div><!-- .ajaxcart__subtotal -->
          <button type="submit" class="ajaxcart__checkout" name="checkout">
            Checkout
          </button>
          <p class="ajaxcart__disclaimer">Taxes and shipping calculated at checkout</p>
        </footer>
      </form><!-- .ajaxcart__content -->
      <div v-else class="ajaxcart__loading-skeleton">
        <ul class="ajaxcart__skeleton-items">
          <skeleton-item v-for="i in 3"></skeleton-item>
        </ul>
        <footer class="ajaxcart__skeleton-footer">
          <div class="ajaxcart__skeleton-footer-row">
            <div class="ajaxcart__skeleton-footer-title">&nbsp;</div>
            <div class="ajaxcart__skeleton-footer-price">&nbsp;</div>
          </div>
          <div class="ajaxcart__skeleton-footer-checkout">&nbsp</div>
          <div class=" ajaxcart__skeleton-footer-disclaimer">&nbsp</div>
        </footer>
      </div>
    </div><!-- #AjaxCart -->
  </ajax-cart>
</component-drawer>

{%- comment -%}
 * ========================================================================================
 * Ajax Cart Components
 * ======================================================================================
{%- endcomment -%}

{%- comment -%}
 * Component: line-item
{%- endcomment -%}
<script id="AjaxCartLineItem" type="text/template">
  <li class="line-item" :class="{ loading: loading }">
    <div class="line-item__information">
      <a :href="item.url" class="line-item__image-wrapper">
        <img :src="item.featured_image.url" :alt="item.title" class="line-item__image">
      </a>
      <div class="line-item__detail">
        <button class="line-item__remove block" @click.prevent="$emit('removeItem', line)">X</button>
        <h2 class="line-item__title">
          <a :href="item.url">${ item.title }</a>
          <span v-if="item.variant_title" class="line-item__variant">${ item.variant_title }</span>
        </h2>
        <div class="line-item__pricing">
          <div class="line-item__price">
            <div v-if="item.line_price !== item.original_line_price">
              <s>${ formatMoney(item.original_line_price) }</s>
              &nbsp;<span>${ formatMoney(item.line_price) }</span>
            </div>
            <span v-else >${ formatMoney(item.line_price) }</span>
          </div><!-- .line-item__price-->
          <div v-if="item.line_price !== item.original_line_price" class="line-item__discounts">
            <span v-for="discount in item.discounts" class="line-item__discount">
              ${ discount.title } - ${ formatMoney(discount.amount) }
            </span>
          </div><!-- .line-item__discounts -->
        </div><!-- .line-item__pricing -->
        <div class="line-item__qty-selector">
          <button  class="ajaxcart__qty-minus" @click.prevent="$emit('updateItemQuantity', { quantity: item.quantity - 1, line })">-</button>
          <input class="line-item__qty-selector-input" type="text" :value="item.quantity">
          <button class="ajaxcart__qty-plus" @click.prevent="$emit('updateItemQuantity', { quantity: item.quantity + 1, line})">+</button>
        </div><!-- .line-item__qty-selector-->
      </div><!-- .line-item__detail-->
    </div><!-- .line-item__information -->
  </li><!-- .line-item -->
</script>

{%- comment -%}
 * Component: shipping-threshold
{%- endcomment -%}
<script id="AjaxCartShippingThreshold" 
  type="text/template" 
  data-threshold="{{ settings.shipping_threshold }}" 
  >
  <div v-if="cart && cart.total_price > 0" class="shipping-threshold">
    <h3 class="shipping-threshold__title">
      <span v-if="unlocked">{{ settings.shipping_threshold_unlocked_message }}</span>
      <span v-else>{{ settings.shipping_threshold_locked_message }}</span>
    </h3> 
    <progress 
      v-if="!unlocked" 
      class="shipping-threshold__bar"
      max="100"
      :value="progress">
    </progress>
  </div>  
</script>
 
{%- comment -%}
 * Component: upsell-products
{%- endcomment -%}
<script id="AjaxCartUpsell" type="text/template">
  <div v-if="cart && cart.items.length && products.length" class="upsell">
    <h3 class="upsell__title">{{ settings.upsell_title}}</h3>
      <div v-if="fetching">
        <skeleton-item></skeleton-item>
      </div>
      <ul v-else-if="products" class="upsell__products" js-upsell-slider>
        <li v-for="product in products" :key="product.id" class="upsell__product">
          <upsell-product 
            :product="product"
          ></upsell-product>
        </li><!-- .upsell__product -->
      </ul><!-- .upsell__products-->
      <ul v-if="products.length > 1" class="upsell__slider-dots">
        <li v-for="(product, idx) in products">
          <button 
            class="upsell__slider-trigger" 
            :class="{active: currentSlide === idx}"
            :aria-label="`Go to slide ${idx + 1}`"
            @click.prevent="changeSlide(idx)"></button>
        </li>
      </ul>
  </div><!-- .upsell -->
</script>

{%- comment -%}
 * Component: upsell-product
{%- endcomment -%}
<script id="AjaxCartUpsellProduct" type="text/template">
  <div v-if="product && product.available" class="upsell-product">
    <a :href="product.url" class="upsell-product__image">
      <img :src="product.featured_image" :alt="product.title">
    </a>
    <div class="upsell-product__info">
      <h3 class="upsell-product__title"><a :href="product.url">${ product.title }</a></h3>
      <p class="upsell-product__price">${ formatMoney(selectedVariant.price) }</p>
      <div v-if="product.variants.length > 1" class="upsell-product__variants">
        <label :for="`variant-selector-${product.id}`">Select Variant</label>
        <select v-model="selectedVariant" name="variant-selector" :id="`variant-selector-${product.id}`">
          <option 
            v-for="variant in product.variants" 
            :selected="variant.id === selectedVariant.id"
            :value="variant"
            :disabled="!variant.available">
            ${ variant.title }
          </option>
        </select>
      </div>
      <button class='upsell-product__atc' @click.prevent="addToCart">
        Add To Cart
      </button>
    </div>
  </div>
</script>

{%- comment -%}
 * Component: skeleton-item
{%- endcomment -%}
<script id="AjaxCartSkeletonItem" type="text/template">
  <div class="skeleton-item">
    <div class="skeleton-item__image">&nbsp;</div>
    <div class="skeleton-item__info">
      <div class="skeleton-item__title">&nbsp;</div>
      <div class="skeleton-item__subtitle">&nbsp;</div>
      <div class="skeleton-item__price">&nbsp;</div>
    </div>
  </div>
</script>


{%- comment -%}
 * ===================================================================================== 
 * DATA
 * ====================================================================================
{%- endcomment -%}

{%- comment -%} Get and format products from theme settings {%- endcomment -%}
<script id="AjaxCartUpsellData" type="application/json" js-upsell-data>
  [
    {% assign MAX_UPSELL = 6 %}
    {% assign DEFAULT_TAG = '__DEFAULT__' %}
    
    {% for i in (1..MAX_UPSELL) %}
      {% assign tag_id = 'upsell_tag_' | append: i %}
      {% assign tag = settings[tag_id] %}
      {% assign upsell_product_settings = 'upsell_product_' | append: i %}
      {% assign upsell_product_handle = settings[upsell_product_settings] %}
      {% if upsell_product_handle != blank %}
        {% assign upsell_product = all_products[upsell_product_handle] %}
      {% endif %}

      {% if upsell_product != blank %} 
        {
          "tag": "{{ tag | default: DEFAULT_TAG }}",
          "product": {{ upsell_product | json }}
        }{% unless forloop.last %},{% endunless %}
      {% else %}
        {
          "tag": null,
          "product": null
        }{% unless forloop.last %},{% endunless %}
      {% endif %}

    {% endfor %}
  ]
</script>