{%- comment -%}
 * Ajax Cart
 * --------------------------------------------------------
 * See ajaxcart.js for documentation
 *
 * Remember to style error and loading states
{%- endcomment -%}

{{ 'component-drawer.css' | asset_url | stylesheet_tag }}
{{ 'ajaxcart.css' | asset_url | stylesheet_tag }}

<component-drawer id="CartDrawer" class="ajaxcart-drawer" position="right" open="[js-cart-drawer-open]" close="[js-cart-drawer-close]" js-cart-drawer>
  <ajax-cart class="ajaxcart" data-shipping-threshold="{{ settings.shipping_threshold_enabled  }}">
    <div id="AjaxCartTemplate">
      <div class="ajaxcart__signin">
        <button class="ajaxcart__close" js-cart-drawer-close>{% render 'icon-close' %}</button>
        <a href="/account">
          SIGN IN
        </a>
      </div>

      <header class="ajaxcart__header" ref="cartHeader">
        <h1 class="ajaxcart__header-title">
          my bag
          <span v-if="cart" class="ajaxcart__header-title-count">(${cart.item_count})</span>
        </h1>
        
      </header>
  
      <form v-if="cart" class="ajaxcart__content" :style="{ height: cartHeight }" action="/cart" method="post" novalidate>
        <main class="ajaxcart__main" :class="{ loading: loading.cart }">
          <p v-if="error" class="ajaxcart__error">
            ${ error }
            <button @click.prevent="this.error = false">{% render 'icon-close' %}</button>
          </p>
          <ul v-if="cart.items.length" class="ajaxcart__products">
            <line-item
              v-for="(item, idx) in cart.items" 
              :item="item" 
              :line="idx + 1" 
              :loading="loading.item === idx"
              :key="item.key"
              @remove-item="removeItem"
              @update-item-quantity="updateItemQuantity"
            />
          </ul>
          <p v-else class="ajaxcart__empty">Your cart is empty</p>

          <upsell-products 
            :cart="cart"
            :handles-in-cart="handlesInCart"
            @add-to-cart="addToCart"
          />

        </main><!--.ajaxcart__main -->
  
        <footer class="ajaxcart__footer" ref="cartFooter">
          <p v-if="cart.note" class="ajaxcart__note">note: ${ cart.note }</p>
          <button class="ajaxcart__cart-note-trigger" type="button" @click.prevent="cartNoteShow = !cartNoteShow"> 
            <span v-if="cartNoteShow">&minus;</span><span v-else>&plus;</span>&nbsp;
            <span v-if="cart.note">EDIT ORDER NOTE</span>
            <span v-else>ADD NOTE TO YOUR ORDER</span> 
          </button>
          <div v-if="cartNoteShow" class="ajaxcart__add-note">
            <textarea class="ajaxcart__cart-note-input" v-model="cartNote"></textarea>
            <button class="ajaxcart__save-note button button--outline" :class="{ loading: loading.cart }" @click.prevent="updateCartNote">SAVE NOTE</button>
          </div>
          <div class="ajaxcart__subtotal">
            <div class="ajaxcart__subtotal-row">
              <p class="ajaxcart__subtotal-title">shipping</p>
              <p class="ajaxcart__subtotal-price">free</p>
            </div><!--.ajaxcart__subtotal-row -->
            <div class="ajaxcart__subtotal-row">
              <p class="ajaxcart__subtotal-title">subtotal</p>
              <p class="ajaxcart__subtotal-price">${ formatMoney(cart.total_price) }</p>
            </div><!--.ajaxcart__subtotal-row -->
            <p v-if="cart.total_discount" class="ajaxcart__savings">${ cart.total_discount }</p>
          </div><!-- .ajaxcart__subtotal -->
          <button type="submit" class="ajaxcart__checkout button button--large" name="checkout">
            CHECKOUT
          </button>
          <p class="ajaxcart__disclaimer">free shipping & returns on us orders</p>
        </footer>
      </form><!-- .ajaxcart__content -->
      <div v-else class="ajaxcart__loading-skeleton">
        <ul class="ajaxcart__skeleton-items">
          <skeleton-item v-for="i in 3"></skeleton-item>
        </ul>
        <footer class="ajaxcart__skeleton-footer">
          <div class="ajaxcart__skeleton-footer-row">
            <div class="ajaxcart__skeleton-footer-title">&nbsp;</div>
            <div class="ajaxcart__skeleton-footer-price">&nbsp;</div>
          </div>
          <div class="ajaxcart__skeleton-footer-checkout">&nbsp</div>
          <div class=" ajaxcart__skeleton-footer-disclaimer">&nbsp</div>
        </footer>
      </div>
    </div><!-- #AjaxCart -->
  </ajax-cart>
</component-drawer>

{%- comment -%}
 * ========================================================================================
 * Ajax Cart Components
 * ======================================================================================
{%- endcomment -%}

{%- comment -%}
 * Component: line-item
{%- endcomment -%}
<script id="AjaxCartLineItem" type="text/template">
  <li class="line-item" :class="{ loading: loading }">
    <div class="line-item__information">
      <a :href="item.url" class="line-item__image-wrapper">
        <img :src="item.featured_image.url" :alt="item.title" class="line-item__image">
      </a>
      <div class="line-item__detail">
        <div class="line-item__title-remove">
          <h2 class="line-item__title">
            <a class="line-item__title-link" :href="item.url">${ item.product_title }</a>
            <span v-for="option in item.options_with_values" class="line-item__option">${ option.value }</span>
          </h2>
          <button class="line-item__remove" type="button" @click.prevent="$emit('removeItem', line)">{% render 'icon-close' %}</button>
        </div><!-- .line-item__title-remove -->
        <div class="line-item__price-qty">
          <div class="line-item__pricing">
            <div class="line-item__price">
              <div v-if="item.line_price !== item.original_line_price">
                <s>${ formatMoney(item.original_line_price) }</s>
                &nbsp;<span>${ formatMoney(item.line_price) }</span>
              </div>
              <span v-else >${ formatMoney(item.line_price) }</span>
            </div><!-- .line-item__price-->
            <div v-if="item.line_price !== item.original_line_price" class="line-item__discounts">
              <span v-for="discount in item.discounts" class="line-item__discount">
                ${ discount.title } - ${ formatMoney(discount.amount) }
              </span>
            </div><!-- .line-item__discounts -->
          </div><!-- .line-item__pricing -->
          <div class="line-item__qty-selector">
            qty:
            <input class="line-item__qty-selector-input" type="number" :value="item.quantity" :disabled="loading" @change="$emit('updateItemQuantity', { quantity: $event.target.value, line })">
          </div><!-- .line-item__qty-selector-->
        </div><!-- .line-item__price-qty -->
      </div><!-- .line-item__detail-->
    </div><!-- .line-item__information -->
  </li><!-- .line-item -->
</script>

{%- comment -%}
 * Component: shipping-threshold
{%- endcomment -%}
<script id="AjaxCartShippingThreshold" 
  type="text/template" 
  data-threshold="{{ settings.shipping_threshold }}" 
  >
  <div v-if="cart && cart.total_price > 0" class="shipping-threshold">
    <h3 class="shipping-threshold__title">
      <span v-if="unlocked">{{ settings.shipping_threshold_unlocked_message }}</span>
      <span v-else>{{ settings.shipping_threshold_locked_message }}</span>
    </h3> 
    <progress 
      v-if="!unlocked" 
      class="shipping-threshold__bar"
      max="100"
      :value="progress">
    </progress>
  </div>  
</script>
 
{%- comment -%}
 * Component: upsell-products
{%- endcomment -%}
<script id="AjaxCartUpsell" type="text/template">
  <div v-if="cart && cart.items.length && products.length" class="upsell">
    <h3 class="upsell__title">{{ settings.upsell_title}}</h3>
      <div v-if="fetching">
        <skeleton-item></skeleton-item>
      </div>
      <ul v-else-if="products" class="upsell__products" js-upsell-slider>
        <li v-for="product in products" :key="product.id" class="upsell__product">
          <upsell-product 
            :product="product"
          ></upsell-product>
        </li><!-- .upsell__product -->
      </ul><!-- .upsell__products-->
      <ul v-if="products.length > 1" class="upsell__slider-dots">
        <li v-for="(product, idx) in products">
          <button 
            class="upsell__slider-trigger" 
            :class="{active: currentSlide === idx}"
            :aria-label="`Go to slide ${idx + 1}`"
            @click.prevent="changeSlide(idx)"></button>
        </li>
      </ul>
  </div><!-- .upsell -->
</script>

{%- comment -%}
 * Component: upsell-product
{%- endcomment -%}
<script id="AjaxCartUpsellProduct" type="text/template">
  <div v-if="product && product.available" class="upsell-product">
    <a :href="product.url" class="upsell-product__image">
      <img :src="product.featured_image" :alt="product.title">
    </a>
    <div class="upsell-product__info">
      <h3 class="upsell-product__title"><a :href="product.url">${ product.title }</a></h3>
      <p class="upsell-product__price">${ formatMoney(selectedVariant.price) }</p>
      <div v-if="product.variants.length > 1" class="upsell-product__variants">
        <div class="upsell-product__swatches">
          <div v-for="option in product.options" class="upsell-product__swatch">
            <h3 class="upsell-product__swatch-option">${ option.name }</h3>
            <div v-for="value in option.values" class="upsell-product__swatch-group">
              <label for="`ajaxcart-${product.id}-${value}`">${ value }</label>
              <input 
                v-model="options[option.position]"  
                :id="`ajaxcart-${product.id}-${option}`"
                type="radio" :name="`${option.name}-selector`"
                @change="onOptionChange(option)"
                :value="value"
              />
            </div><!-- .upsell-product__swatch-group-->
            <!-- <select 
              v-model="options[option.position]" 
              :name="`${option.name}-selector`" 
              :id="`ajaxcart-${product.id}-${option.name}`"
              @change="onOptionChange(option)">
              <option 
                v-for="value in option.values" 
                :value="value"
                >
                ${ value }
              </option>
            </select> -->
          </div><!-- .upsell-product__swatch-->
        </div><!-- .upsell-product__swatches-->
      </div><!-- .upsell-product__variants -->
      <button class='upsell-product__atc' :disabled="!selectedVariant.available" @click.prevent="addToCart">
        ${ selectedVariant.available ? 'Add To Cart' : 'Sold Out'}
      </button>
    </div>
  </div>
</script>

{%- comment -%}
 * Component: skeleton-item
{%- endcomment -%}
<script id="AjaxCartSkeletonItem" type="text/template">
  <div class="skeleton-item">
    <div class="skeleton-item__image">&nbsp;</div>
    <div class="skeleton-item__info">
      <div class="skeleton-item__title">&nbsp;</div>
      <div class="skeleton-item__subtitle">&nbsp;</div>
      <div class="skeleton-item__price">&nbsp;</div>
    </div>
  </div>
</script>


{%- comment -%}
 * ===================================================================================== 
 * DATA
 * ====================================================================================
{%- endcomment -%}

{%- comment -%} Get and format products from theme settings {%- endcomment -%}
<script id="AjaxCartUpsellData" type="application/json" js-upsell-data>
  [
    {% assign MAX_UPSELL = 6 %}
    {% assign DEFAULT_TAG = '__DEFAULT__' %}
    
    {% for i in (1..MAX_UPSELL) %}
      {% assign tag_id = 'upsell_tag_' | append: i %}
      {% assign tag = settings[tag_id] %}
      {% assign upsell_product_settings = 'upsell_product_' | append: i %}
      {% assign upsell_product_handle = settings[upsell_product_settings] %}
      {% if upsell_product_handle != blank %}
        {% assign upsell_product = all_products[upsell_product_handle] %}
      {% endif %}

      {% if upsell_product != blank %} 
        {
          "tag": "{{ tag | default: DEFAULT_TAG }}",
          "product": {{ upsell_product | json }},
          "product_options": {{ upsell_product.options_with_values | json }}
        }{% unless forloop.last %},{% endunless %}
      {% else %}
        {
          "tag": null,
          "product": null
        }{% unless forloop.last %},{% endunless %}
      {% endif %}

    {% endfor %}
  ]
</script>