<div class="ancillary-sidebar" id="ancillary-sidebar">
  <div class="side-wrapper">
    {% if section.settings.title != blank %}
      <div class="title-wrap sidebar-title-wrap">
        <h3 class="heading h4">{{ section.settings.title }}</h3>
      </div>
    {% endif %}
      <div class="ancillary-list-wrap">
        <ul class="ancillary-list">
          {% for link in linklists.ancillary.links %}
                <li class="ancillary-item">
                  <a href="{{ link.url }}" class="ancillary-link" data-ancillary-link>{{ link.title }}</a>
                </li>
          {% endfor %}
    
        </ul>
      </div>
    <div class="content-wrap">
      {% if section.settings.info_title != blank %}
        <div class="title-wrap info-title-wrap">
          <h3 class="h4">{{ section.settings.info_title }}</h3>
        </div>
      {% endif %}
      <div class="details-wrap">
        {% for block in section.blocks %}
          {% if block.type == 'info' %}
            <div class="info-wrap">
              {% if block.settings.label != blank %}
                <span class="label h6">{{ block.settings.label }}</span>
              {% endif %}
              {% if block.settings.link_text != blank %}
                <a href="{{ block.settings.link_url }}" class="link">{{ block.settings.link_text }}</a>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>