<div class="{% if swiper_slide %}swiper-slide{% endif %} card-wrapper">
  <div class="card-information">
    <div class="card-information__wrapper">
      {%- if show_title -%}
        <h3 class="card-information__text {% if product.available == false %}light{% endif %}">
          <a href="{{ product.url | default: '#' }}" class="full-unstyled-link">
            {{ product.title | escape }}
          </a>
        </h3>
      {%- endif -%}
      {% if show_subtitle and product.metafields.descriptors.subtitle != blank %}
      <h4 class="card-information__subtext {% if product.available == false %}light{% endif %}">{{ product.metafields.descriptors.subtitle }}</h4>
      {% endif %}
      {%- if show_price -%}
        {% render 'price', product: product %}
      {%- endif -%}
    </div>
    {%- if show_badges -%}
    <div class="card__badge">
        {%- if product.available == false -%}
          <span class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}">{{ 'products.product.sold_out' | t }}</span>
        {%- endif -%}
      </div>
      {%- endif -%}
  </div>

  <div class="card card--product" tabindex="-1">
    <div class="card__inner">
      <a href="{{ product.url | default: '#' }}" class="full-unstyled-link">
      {%- if product.featured_media -%}
        {%- liquid
          assign featured_media_aspect_ratio = product.featured_media.aspect_ratio

          if product.featured_media.aspect_ratio == nil
            assign featured_media_aspect_ratio = 1
          endif
        -%}
        <div>
          <div class="media media--transparent media--adapt media--hover-effect"
            style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"
          >
            {{ product.featured_media | image_url: width: 1000 | image_tag: alt: 'product.media[1].alt', class: 'css-class-1 css-class-2' }}
            {% unless nohover == true %}
            {%- if product.media[1] != nil -%}
                {{ product.media[1] | image_url: width: 1000 | image_tag: alt: 'product.media[1].alt', class: 'css-class-1 css-class-2' }}
            {%- endif -%}
          {% endunless %}
          </div>
        </div>
      {%- endif -%}
    </a>
    </div>
  </div>
</div>
