<div class="{% if swiper_slide %}swiper-slide{% endif %} card-wrapper">
  <div class="card-information">
    <div class="card-information__wrapper">
      {%- if show_title -%}
        <h3 class="card-information__text {% if product.available == false %}light{% endif %}">
          <a href="{{ product.url | default: '#' }}" class="full-unstyled-link">
            {{ product.title | escape }}
          </a>
        </h3>
      {%- endif -%}
      {% if show_subtitle and product.metafields.descriptors.subtitle != blank %}
      <h4 class="card-information__subtext {% if product.available == false %}light{% endif %}">{{ product.metafields.descriptors.subtitle }}</h4>
      {% endif %}
      {%- if show_price -%}
        {% render 'price', product: product %}
      {%- endif -%}
    </div>
    {%- if show_badges -%}
    <div class="card__badge">
        {%- if product.available == false -%}
          <span class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}">{{ 'products.product.sold_out' | t }}</span>
        {%- endif -%}
      </div>
      {%- endif -%}
  </div>

  <div class="card card--product" tabindex="-1">
    <div class="card__inner">
      <a href="{{ product.url | default: '#' }}" class="full-unstyled-link">
      {%- if product.featured_media -%}
        {%- liquid
          assign featured_media_aspect_ratio = product.featured_media.aspect_ratio

          if product.featured_media.aspect_ratio == nil
            assign featured_media_aspect_ratio = 1
          endif
        -%}

        <div>
          <div class="media media--transparent media--adapt media--hover-effect"
            style="padding-bottom: {{ 1 | divided_by: featured_media_aspect_ratio | times: 100 }}%;"
          >
            <img
              srcset="{%- if product.featured_media.width >= 165 -%}{{ product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | img_url: '1066x' }} 1066w,{%- endif -%}
                {{ product.featured_media | img_url: 'master' }} {{ product.featured_media.width }}w"
              src="{{ product.featured_media | img_url: '533x' }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
              alt="{{ product.featured_media.alt | escape }}"
              loading="lazy"
              class="motion-reduce"
              width="{{ product.featured_media.width }}"
              height="{{ product.featured_media.height }}"
            >
            {% unless nohover == true %}
            {%- if product.media[1] != nil -%}
              <img
                srcset="{%- if product.media[1].width >= 165 -%}{{ product.media[1] | img_url: '165x' }} 165w,{%- endif -%}
                  {%- if product.media[1].width >= 360 -%}{{ product.media[1] | img_url: '360x' }} 360w,{%- endif -%}
                  {%- if product.media[1].width >= 533 -%}{{ product.media[1] | img_url: '533x' }} 533w,{%- endif -%}
                  {%- if product.media[1].width >= 720 -%}{{ product.media[1] | img_url: '720x' }} 720w,{%- endif -%}
                  {%- if product.media[1].width >= 940 -%}{{ product.media[1] | img_url: '940x' }} 940w,{%- endif -%}
                  {%- if product.media[1].width >= 1066 -%}{{ product.media[1] | img_url: '1066x' }} 1066w,{%- endif -%}
                  {{ product.media[1] | img_url: 'master' }} {{ product.media[1].width }}w"
                src="{{ product.media[1] | img_url: '533x' }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ product.media[1].alt | escape }}"
                loading="lazy"
                class="motion-reduce"
              width="{{ product.media[1].width }}"
              height="{{ product.media[1].height }}"
              >
            {%- endif -%}
          {% endunless %}
          </div>
        </div>
      {%- endif -%}
    </a>
    </div>
  </div>
</div>
