{{ 'video-banner.css' | asset_url | stylesheet_tag }}

  {% if section.settings.video_url != blank %}
  <div class="video-banner video-banner__desktop">
    <div class="container">
      <div class="wrapper">
        <video 
          {% if section.settings.video_controls %}controls{% endif %} 
          autoplay loop muted playsinline
        {% if section.settings.video_poster != blank %}poster="{{ section.settings.video_poster | img_url: '2000x' }}"{% endif %}>
          <source src="{{section.settings.video_url}}" type="video/mp4">
        </video>
    </div>
  </div>
</div>
{% endif %}
{% if section.settings.mobile_video_url != blank %}
  <div class="video-banner video-banner__mobile">
    <div class="container">
      <div class="wrapper">
        <video 
          {% if section.settings.video_controls %}controls{% endif %} 
          autoplay loop muted playsinline
        {% if section.settings.mobile_video_poster != blank %}poster="{{ section.settings.mobile_video_poster | img_url: '2000x' }}"{% endif %}>
          <source src="{{section.settings.mobile_video_url}}" type="video/mp4">
        </video>
    </div>
  </div>
</div>
{% endif %}
    