{{ 'custom-footer.css' | asset_url | stylesheet_tag }} 

<div class='custom-footer' id="custom-footer">
  <div class="footer-container">
    <div class="wrapper">
      <div class="column-grid">
        <div class="column">
          <div class="logo-wrap">
            {% render 'logo' %}
          </div>
          {% if section.settings.text != blank %}
            <p class="text">{{ section.settings.text }}</p>
          {% endif %}
          <div class="social-wrap">
            {% for block in section.blocks %}
              {% if block.type == 'social_media' %}
                {% if block.settings.social_icon != blank %}
                  <a href="{{ block.settings.social_link }}" class="social-item">
                    {% render 'responsive--image' with block.settings.social_icon as image, max_width: 40, class: 'social-icon' %}
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          {% if section.settings.copyright_text != blank %}
            <span class="copyright-text">{{ section.settings.copyright_text }}</span>
          {% endif %}
        </div>
        <div class="footer-menu">
          {% for block in section.blocks %}
            {% if block.type == 'menu' %}
              <div class="menu-column">
                <ul class="menu-list">
                  {% for link in block.settings.select_menu.links %}
                    {% if link.title != blank %}
                      <li class="menu-item">
                        <a href="{{ link.url }}" class="menu-link">{{ link.title }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="footer-newsletter" id="footer-newsletter">
          {% if section.settings.newsletter_title != blank %}
            <h3 class="newsletter-title">{{ section.settings.newsletter_title }}</h3>
          {% endif %}
          {% if section.settings.newsletter_text != blank %}
            <p class="newsletter-text">{{ section.settings.newsletter_text }}</p>
          {% endif %}
          <div class="newsletter">
            <div class="klaviyo-form-Vv8PnM"></div>
          </div>
        </div>
      </div>
      {% if section.settings.copyright_text != blank %}
          <span class="copyright-text copyright-text-mob">{{ section.settings.copyright_text }}</span>
      {% endif %}
    </div>
  </div>
</div

{% schema %}
{
  "name": "Custom Footer",
  "settings": [
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Newsletter Title",
      "default": "JOIN THE I+W MAILING LIST"
    },
    {
      "type": "text",
      "id": "newsletter_text",
      "label": "Newsletter text",
      "default": "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor lorem"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "2106 12th ave s nashville, tn 37204"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright Text",
      "default": "© 2021 imogene + willie"
    }
  ],
  "blocks": [
    {
      "name": "Social Media",
      "type": "social_media",
      "settings": [
        {
          "type": "header",
          "content": "Image",
          "info": "-------"
        },
        {
          "type": "image_picker",
          "id": "social_icon",
          "label": "Social Icon"
        },
        {
          "type": "url",
          "id": "social_link",
          "label": "Social Link"
        }
      ]
    },
    {
      "name": "Menu",
      "type": "menu",
      "settings": [
        {
          "type": "header",
          "content": "Menu",
          "info": "-------"
        },
        {
          "type": "link_list",
          "id": "select_menu",
          "label": "Select Menu"
        }
      ]
    }
  ]
}
{% endschema %}
