{{ 'explore-section.css ' | asset_url | stylesheet_tag }}

<div class="explore-section">
  <div class="index-container">
    <div class="wrapper">
      {% if section.settings.title != blank %}
        <h2 class="title">{{ section.settings.title }}</h2>
      {% endif %}
      <div class="cart-swiper">
        <div class="swiper-wrapper">
          {% if section.settings.choose_collection != blank or section.settings.choose_blog != blank %}
            {% if section.settings.choose_collection != blank %}
              {% for product in collections[section.settings.choose_collection].products %}
                {% render 'cart-item', cart: product, productCart: true %}  
              {% endfor %}
            {% endif %}
            {% if section.settings.choose_blog != blank %}
              {% for article in blogs[section.settings.choose_blog].articles %}
                {% render 'cart-item', cart: article %}  
              {% endfor %}
            {% endif %}
              {% else %}
                {% for index in (1..5) %}
                  <div class="cart-item swiper-slide">
                    <div class="img-wrap">
                      {% assign placeholder = 'product-' | append: index %}
                      {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                  </div>
                {% endfor %}
          {% endif %}
        </div>
        <div class="swiper-scrollbar"></div>
      </div>
      {% if section.settings.btn != blank %}
        <div class="btn-wrap">
          <a href="{{ section.settings.url }}" class="btn">{{ section.settings.btn }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Explore Section",
  "settings":[
    {
      "type": "header",
      "content": "Choose Collection Or Blog",
      "info": "-------"
    },
    {
      "type": "collection",
      "id": "choose_collection",
      "label": "Choose Collection"
    },
    {
      "type": "blog",
      "id": "choose_blog",
      "label": "Choose Blog"
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "btn",
      "label": "Button"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Button Url"
    }
  ],
  "presets":[
    {
      "name": "Explore Section"
    }
  ]
}
{% endschema %}