{{ 'fade-section.css' | asset_url | stylesheet_tag }}

<div class="fade-section">
  <div class="nashville-container">
    <div class="wrapper">
      {% if section.settings.img != blank %}
        <div class="img-wrap">
          {% render 'responsive--image' with section.settings.img as image, max_width: 938, class: 'image' %}
        </div>
      {% endif %}
      <div class="content-wrap">
        {% if section.settings.title != blank %}
          <h3 class="title">{{ section.settings.title }}</h3>
        {% endif %}
        {% if section.settings.text != blank %}
          <p class="text">{{ section.settings.text }}</p>
        {% endif %}
        {% if section.settings.btn_text != blank %}
          <a href="{{ section.settings.btn_url }}" class="btn">{{ section.settings.btn_text }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Fade Section",
  "settings": [
    {
      "type": "header",
      "content": "Image",
      "info": "------"
    },
    {
      "type": "image_picker",
      "id": "img",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "love fades"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ut enim ad minim veniam, quis nostrud exercitation "
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "LOREM IPSUM"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button url"
    }
  ]
}
{% endschema %}