<div class="featured-collection">
  <div class="index-container">
    <div class="wrapper">
      {% if section.settings.main_title != blank %}
        <h2 class="main-title">{{ section.settings.main_title }}</h2>
      {% endif %}
      {% if section.settings.title != blank %}
        <h3 class="title">{{ section.settings.title }}</h3>
      {% endif %}
      <div class="content-wrap">
        {% if section.settings.mob_title != blank %}
          <h3 class="collection-title">{{ section.settings.mob_title }}</h3>
        {% endif %}
        {% if section.settings.link_text != blank %}
          <a href="{{ section.settings.link_url }}" class="link">
            <span class="text">{{ section.settings.link_text }}</span>
            <span class="icon">
              {% include 'icon-right-arrow' %}
            </span>
          </a>
        {% endif %}
      </div>
      <div class="product_gallery">
        <div class="swiper-wrapper">
          {% if section.settings.choose_collection != blank %}
            {% for product in collections[section.settings.choose_collection].products %}
              <div class="product-item swiper-slide">
                <a href="{{ product.url }}" class="product-link">
                  <div class="img-wrap">
                    {% render 'responsive--image' with product.featured_media as image, max_width: 455, class: 'img featured-img' %}
                    {% if product.images[1] != blank %}
                      {% render 'responsive--image' with product.images[1] as image, max_width: 455, class: 'img hover-img' %}
                    {% endif %}
                  </div>
                  <h3 class="product-title">{{ product.title }}</h3>
                </a>
              </div>
            {% endfor %}
          {% else %}
            {% for index in (1..5) %}
              <div class="product-item swiper-slide">
                <div class="img-wrap">
                  {% assign placeholder = 'product-' | append: index %}
                  {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "header",
      "content": "Collection",
      "info": "-------"
    },
    {
      "type": "collection",
      "id": "choose_collection",
      "label": "Choose Collection"
    },
    {
      "type": "header",
      "content": "Content",
      "info": "--------"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Collection Title (Desktop)",
      "default": "Women’s new arrivals"
    },
    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title (Mobile)",
      "default": "new arrivals"
    },
    {
      "type": "text",
      "id": "mob_title",
      "label": "collection Title (Mobile)",
      "default": "WOMEN’s"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text",
      "default": "View all"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link Url"
    }
  ],
  "presets": [
    {
      "name": "Homepage - Featured Collection",
      "category": "Homepage"
    }
  ]
}
{% endschema %}
