{{ 'grand-image-section.css' | asset_url | stylesheet_tag }}

<div class="grand-image-section">
  <div class="container">
    <div class="wrapper">
      <div class="image-wrap {{ section.settings.img_width }}-image">
        {% if section.settings.desk_img %}
          <a href="{{ section.settings.img_url }}" class="img-link">
            {% render 'responsive--image' with section.settings.desk_img as image, max_width: 1144, class: 'img', mob_img: section.settings.mob_img %}
          </a>
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        {% if section.settings.mob_img != blank %}
          <a href="{{ section.settings.img_url }}" class="img-link">
            {% render 'responsive--image' with section.settings.mob_img as image, max_width: 360, class: 'img mob-image' %}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Grand Image Section",
  "settings": [
    {
    "type": "header",
    "content": "Image",
    "info": "-------"
    },
    {
    "type": "image_picker",
    "id": "desk_img",
    "label": "Image (Desktop)"
    },
    {
    "type": "image_picker",
    "id": "mob_img",
    "label": "Image (Mobile)"
    },
    {
      "type": "url",
      "id": "img_url",
      "label": "Image Url"
    },
    {
      "type": "select",
      "id": "img_width",
      "label": "Image Width",
      "info": "Just For Desktop",
      "options": [
        {
          "value": "full",
          "label": "Full"
        },
        {
          "value": "extra-large",
          "label": "Extra Large"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "small",
          "label": "Small"
        }
      ]
    }
  ],
  "presets": [
    {
      "name":"IMAGE"
    }
  ]
}
{% endschema %}