<style>
  #shopify-section-{{ section.id }} .guide-section {
    --bg-color: {{ section.settings.bg_color }};
  }
</style>
<div class="guide-section" style="background-color: var(--bg-color)">
  <div class="custom-content-container">
    <div class="wrapper">
      <div class="custom-grid {% if section.settings.change_alignment %} alignment {% endif %}">
        {% for block in section.blocks %}
          <div class="grid-item block-{{ forloop.index }}">
            <a href="{{ block.settings.link_url }}" class="img-wrap">
              {% if block.settings.desk_img != blank %}
                {% render 'responsive--image' with block.settings.desk_img as image, max_width: 513, class: 'image', mob_img: block.settings.mob_img %}
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
              {% if block.settings.mob_img != blank %}
                {% render 'responsive--image' with block.settings.mob_img as image, max_width: 360, class: 'image mob-image' %}
              {% endif %}
            </a>
            {% if block.settings.title != blank %}
              <div class="content-wrap">
                <h4 class="main-title">{{ block.settings.title }}</h4>
                {% if block.settings.text != blank %}
                  <p class="text">{{ block.settings.text }}</p>
                {% endif %}
                {% if block.settings.link_text != blank %}
                  <a href="{{ block.settings.link_url }}" class="link">{{ block.settings.link_text }}</a>
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      {% if section.settings.show_button and section.settings.btn_text != blank %}
        <div class="btn-wrap">
          <a href="{{ section.settings.btn_url }}" class="btn">{{ section.settings.btn_text }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Guide Section",
  "settings": [
    {
      "type": "header",
      "content": "Color",
      "info": "-------"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "header",
      "content": "Option",
      "info": "-------"
    },
    {
      "type": "checkbox",
      "id": "change_alignment",
      "label": "Change Alignment",
      "default": false
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Url"
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "Show Button",
      "default": false
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "header",
          "content": "Image",
          "info": "-------"
        },
        {
          "type": "image_picker",
          "id": "desk_img",
          "label": "Image (Desktop)"
        },
        {
          "type": "image_picker",
          "id": "mob_img",
          "label": "Image (Mobile)"
        },
        {
          "type": "header",
          "content": "Content",
          "info": "-------"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Content - Guide Section"
    }
  ]
}
{% endschema %}

