<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  @media screen and (min-width: 990px) {
    header-drawer {
      display: none;
    }
  }

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: 1.3;
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: 1.8;
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>
<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient">
  <header class="header header--{{ section.settings.logo_position }} page-width{% if section.settings.menu != blank %} header--has-menu{% endif %}">
    {%- if section.settings.mob_menu != blank -%}
      <header-drawer data-breakpoint="tablet">
        <details class="menu-drawer-container">
          <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
            <span>
              {% render 'icon-hamburger' %}
              {% render 'icon-close' %}
            </span>
          </summary>
          <div id="menu-drawer" class="menu-drawer motion-reduce" tabindex="-1">
            <div class="menu-drawer__inner-container">
              <div class="menu-drawer__navigation-container">
                <div class="search-form-wrap">
                  <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                    <input type="hidden" name="type" value="product">
                    <div class="field">
                      <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                          <path id="search_2_" data-name="search (2)" d="M14.771,12.752,11.32,9.286a5.519,5.519,0,0,0,1.374-3.634A5.763,5.763,0,0,0,6.839,0,5.763,5.763,0,0,0,.984,5.652,5.763,5.763,0,0,0,6.839,11.3a5.936,5.936,0,0,0,3.354-1.023l3.477,3.492a.783.783,0,0,0,1.08.02A.72.72,0,0,0,14.771,12.752ZM6.839,1.475a4.259,4.259,0,0,1,4.327,4.178A4.259,4.259,0,0,1,6.839,9.83,4.259,4.259,0,0,1,2.511,5.652,4.259,4.259,0,0,1,6.839,1.475Z" transform="translate(-0.984)" fill="var(--color-dim-black)"/>
                        </svg>                        
                      </button> 
                      <input class="search__input field__input" 
                        id="Search-In-Modal-1"
                        type="search"
                        name="q"
                        value=""
                        placeholder="SEARCH"
                        {%- if settings.predictive_search_enabled -%}
                          role="combobox"
                          aria-expanded="false"
                          aria-owns="predictive-search-results-list"
                          aria-controls="predictive-search-results-list"
                          aria-haspopup="listbox"
                          aria-autocomplete="list"
                          autocorrect="off"
                          autocomplete="off"
                          autocapitalize="off"
                          spellcheck="false" 
                        {%- endif -%}
                      >
                      <input type="hidden" name="options[prefix]" value="last">
                    </div>
                    
                    {%- if settings.predictive_search_enabled -%}
                      <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                        <div class="predictive-search__loading-state">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                      </div>
  
                      <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                    {%- endif -%}
                  </form>
                </div>
                <nav class="menu-drawer__navigation">
                  <ul class="menu-drawer__menu list-menu" role="list">
                    {%- for link in section.settings.mob_menu.links -%}
                      <li>
                        {%- if link.links != blank -%}
                          <details>
                            <summary class="first-level-menu-item menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}" data-main-item>
                              {{ link.title | escape }}
                              {%- comment -%}
                              {% render 'icon-arrow' %}
                              {%- endcomment -%}
                              {% render 'icon-caret' %}
                            </summary>
                            <div id="link-{{ link.title | escape }}" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                              <div class="menu-drawer__inner-submenu">
                                <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true" data-drawer-close>
                                  {%- comment -%}
                                  {% render 'icon-arrow' %}
                                  {%- endcomment -%}
                                  {% render 'left-chevron' %}
                                  {{ link.title | escape }}
                                </button>
                                <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                  {%- for childlink in link.links -%}
                                    <li>
                                      {%- if childlink.links == blank -%}
                                        <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                          {{ childlink.title | escape }}
                                        </a>
                                      {%- else -%}
                                          <span class="menu-drawer__menu-item link link--text list-menu__item focus-inset child-menu-item" data-child-item>
                                            <span>{{ childlink.title | escape }}</span>
                                            <div class="close-menu-item">
                                              {% render 'down-chevron' %}
                                            </div>
                                            <div class="open-menu-item">
                                              {% render 'minus-icon' %}
                                            </div>
                                          </span>
                                          <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu motion-reduce grand-child-list-wrap">
                                            <ul class="menu-drawer__menu list-menu grand-child-list" role="list" tabindex="-1">
                                              {%- for grandchildlink in childlink.links -%}
                                                <li>
                                                  <a href="{{ grandchildlink.url }}" class="grand-child-link menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                    {{ grandchildlink.title | escape }}
                                                  </a>
                                                </li>
                                              {%- endfor -%}
                                            </ul>
                                          </div>
                                      {%- endif -%}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                                {% if section.settings.link_text != blank %}
                                    <div class="link-wrap">
                                      <a href="{{ section.settings.link }}" class="link">
                                        <span class="link-text">{{ section.settings.link_text }}</span>
                                      {% render 'right-arrow' %}
                                      </a>
                                    </div>
                                  {% endif %}
                              </div>
                            </div>
                          </details>
                        {%- else -%}
                          <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title | escape }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </nav>
                <div class="menu-drawer-footer" data-menu-footer>
                  {% if section.settings.text != blank %}
                    <p class="text">{{ section.settings.text }}</p>
                  {% endif %}
                  {% if section.settings.link_text != blank %}
                    <div class="link-wrap">
                      <a href="{{ section.settings.link }}" class="link">
                        <span class="link-text">{{ section.settings.link_text }}</span>
                      {% render 'right-arrow' %}
                      </a>
                    </div>
                  {% endif %}
                  <div class="menu-drawer-slide">
                    {% for block in section.blocks %}
                      {% if block.type == 'menu_drawer_slide' %}
                        <a href="{{ block.settings.link }}" class="slide-item">
                          {% if block.settings.img != blank %}
                            <div class='image-wrap'>
                              {% render 'responsive--image' with block.settings.img as image, max_width: 334px, class: 'slide-img' %}
                            </div>
                          {% endif %}
                          {% if block.settings.title != blank %}
                            <span class="slide-title">{{ block.settings.title }}</span>
                          {% endif %}
                        </a>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <div class="menu-drawer__utility-links">
                  {%- if shop.customer_accounts_enabled -%}
                    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="menu-drawer__account link focus-inset h5">
                      {% render 'icon-account' %}
                      {%- liquid
                        if customer
                          echo 'customer.account_fallback' | t
                        else
                          echo 'customer.log_in' | t
                        endif
                      -%}
                    </a>
                  {%- endif -%}
                  <ul class="list list-social list-unstyled" role="list">
                    {%- if settings.social_twitter_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                          {%- render 'icon-twitter' -%}
                          <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_facebook_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                          {%- render 'icon-facebook' -%}
                          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_pinterest_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                          {%- render 'icon-pinterest' -%}
                          <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_instagram_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                          {%- render 'icon-instagram' -%}
                          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tiktok_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                          {%- render 'icon-tiktok' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tumblr_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                          {%- render 'icon-tumblr' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_snapchat_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                          {%- render 'icon-snapchat' -%}
                          <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_youtube_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                          {%- render 'icon-youtube' -%}
                          <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_vimeo_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                          {%- render 'icon-vimeo' -%}
                          <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </details>
      </header-drawer>
    {%- endif -%}
    
    {%- if section.settings.desk_menu != blank -%}
      <nav class="header__inline-menu" id="header-menu">
        <ul class="list-menu list-menu--inline" role="list">
          {%- for link in section.settings.desk_menu.links -%}
            <li class="menu-item{% if link.levels == 1 %} main-menu-item {% endif %}" data-menu-item>
              {% assign mainMenUItem = link.title | downcase %}
                <div class="header__menu-item list-menu__item link focus-inset">
                  <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  {%- comment -%}
                  {% render 'icon-caret' %}
                  {%- endcomment -%}
                </div>
                {% if mainMenUItem == "about" %}
                  <div class="about-mega-menu">
                    <div class="mega-menu" data-header-dropdown-menu>
                      <div class="mega_menu-container page-width">
                        <div class="mega_menu-about">
                          <div class="grid">
                            {% for block in section.blocks %}
                              {% if block.type == 'mega_menu_about' %}
                                <a href='{{ block.settings.link }}' class="grid-item">
                                  <div class="img-wrap">
                                    {% render 'responsive--image' with block.settings.img as image, max_width: 358px, class: 'image' %}
                                  </div>
                                  <div class="content-wrap">
                                    {% if block.settings.pre_title != blank %}
                                      <h5 class="subtext">{{ block.settings.pre_title }}</h5>
                                    {% endif %}
                                    {% if block.settings.title != blank %}
                                      <h3 class="h1">{{ block.settings.title }}</h3>
                                    {% endif %}
                                    {% if block.settings.text != blank %}
                                      <p>{{ block.settings.text }}</p>
                                    {% endif %}
                                  </div>
                                </a>
                              {% endif %}
                            {% endfor %}
                          </div>
                          {% comment %} {% if section.settings.btn_text != blank %}
                            <div class="btn-wrap">
                              <a href="{{ section.settings.btn_url }}" class="btn">{{ section.settings.btn_text }}</a>
                            </div>
                          {% endif %} {% endcomment %}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
                {% if link.levels == 1 %}
                  <ul class="header-submenu" data-header-dropdown-menu>
                    {%- for childlink in link.links -%}
                      <li class="sub-menu-item">
                          <a href="{{ childlink.url }}" class="sub-menu-link">
                            {{ childlink.title | escape }}
                          </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {% endif %}
                {% if link.levels == 2 %}
                  {% if mainMenUItem == "men" or mainMenUItem == "women" %}
                    <div class="mega_menu" data-header-dropdown-menu>
                      <div class="mega_menu-container page-width">
                        <div class="mega_menu-row">
                          <div class="mega_menu-list-outer-wrap">
                            {%- for childlink in link.links -%}
                            <div class="mega_menu-inner-wrap">
                              <ul class="mega_menu-list">
                                <li class="mega_menu-item mega_menu-heading">{{ childlink.title | escape }}</li>
                                {%- for grandchildlink in childlink.links -%}
                                  <li class="mega_menu-item mega_menu-text">
                                    <a href="{{ grandchildlink.url }}" class="mega_menu-link">
                                      {{ grandchildlink.title | escape }}
                                    </a>
                                  </li>
                                {% endfor %}
                              </ul>
                            </div>
                            {% endfor %}
                          </div>
                          <div class="mega_menu-product-wrap">
                            {% for block in section.blocks %}
                              {% if block.type == 'mega_menu_women' %}
                                {% render 'mega-menu-product-item', block: block %}
                              {% endif %}
                              {% if block.type == 'mega_menu_men' %}
                                {% render 'mega-menu-product-item', block: block %}
                              {% endif %}
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                    {% else %}
                      <ul class="child-menu-list">
                        <div class="page-width">
                          <div class="items-wrap">
                            {%- for childlink in link.links -%}
                              <li class="child-menu-item">
                                <span class="child-menu-heading">{{ childlink.title | escape }}</span>
                                <ul class="grandchild-menu-list">
                                  {% for grandchild in childlink.links %}
                                    <li class="grandchild-item">
                                      <a href="{{ grandchild.url }}" class="grandchild-link">{{ grandchild.title }}</a>
                                    </li>
                                  {% endfor %}
                                </ul>
                              </li>
                            {% endfor %}
                          </div>
                        </div>
                      </ul>
                  {% endif %}
                {% endif %}
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    {%- endif -%}

    <h1 class="header__heading">
      <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
        {% render 'logo' %}
      </a>
    </h1>

    <div class="header__icons">
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span class="menu-utility-link">
              search
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="modal-overlay"></div>
            <div class="search-modal__content" tabindex="-1">
              {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
              {%- endif -%} 
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <input type="hidden" name="type" value="product">
                  <div class="field">
                    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button> 
                    <input class="search__input field__input" 
                      id="Search-In-Modal"
                      type="search"
                      name="q"
                      value=""
                      placeholder="{{ 'general.search.search' | t }}"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false" 
                      {%- endif -%}
                    >
                    <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                    <input type="hidden" name="options[prefix]" value="last">
                  </div>
                  
                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
              {%- if settings.predictive_search_enabled -%}
                </predictive-search>
              {%- endif -%}
              <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>
      <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="menu-utility-link">
        account
      </a>
      {%- comment -%}
      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          {% render 'icon-account' %}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}
      {%- endcomment -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble" js-cart-drawer-open>
        {%- comment -%}
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
        {%- endcomment -%}
        {%  render 'icon-cart' %}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        <div class="cart-count_bubble">
          <span aria-hidden="true" js-cart-counter>
                {%- if cart != empty -%}
                  {%- if cart.item_count < 100 -%}
                      {{ cart.item_count }}
                  {%- endif -%}
                {%- endif -%}
              </span>
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
      </a>
    </div>
  </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>


{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }


      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('details-disclosure');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "header-section",
  "settings": [
    {
      "type": "link_list",
      "id": "desk_menu",
      "label": "Desktop Menu"
    },
    {
      "type": "link_list",
      "id": "mob_menu",
      "label": "Mobile Menu"
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "THE JOURNAL",
      "info": "Only Appear In About Mega Menu"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Url"
    },
    {
      "type": "header",
      "content": "Menu Drawer Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "one of a kind the journal nashville"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text",
      "default": "HERE TO HELP"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link Url"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ],
  "blocks": [
    {
      "type": "mega_menu_women",
      "name": "Mega Menu (Women)",
      "settings": [
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Image"
        },
        {
          "type": "url",
          "id": "product_url",
          "label": "Product Link"
        },
        {
          "type": "text",
          "id": "product_title",
          "label": "Product Title"
        },
        {
          "type": "text",
          "id": "product_description",
          "label": "Product Description"
        }
      ]
    },
    {
      "type": "mega_menu_men",
      "name": "Mega Menu (Men)",
      "settings": [
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Image"
        },
        {
          "type": "url",
          "id": "product_url",
          "label": "Product Link"
        },
        {
          "type": "text",
          "id": "product_title",
          "label": "Product Title"
        },
        {
          "type": "text",
          "id": "product_description",
          "label": "Product Description"
        }
      ]
    },
    {
      "type": "mega_menu_about",
      "name": "Mega Menu (About)",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "pre_title",
          "label": "Pre Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "menu_drawer_slide",
      "name": "Menu Drawer Slide",
      "settings": [
        {
          "type": "header",
          "content": "Image",
          "info": "-------"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Content",
          "info": "-------"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ]
}
{% endschema %}
