{{ 'image--with-text.css' | asset_url | stylesheet_tag }}

<div class="image-with-text">
  <div class="container">
    <div class="wrapper">
      <div class="image {{ section.settings.img_width }}-image">
        <a href="{{ section.settings.img_link }}" class="img-link">
          {% if section.settings.desk_img %}
            {% render 'responsive--image' with section.settings.desk_img as image, max_width: 1920, class: 'image', mob_img: section.settings.mob_img %}
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          {% if section.settings.mob_img != blank %}
            {% render 'responsive--image' with section.settings.mob_img as image, max_width: 360, class: 'image mob-image' %}
          {% endif %}
        </a>
      </div>
      <div class="content-wrap">
        {% if section.settings.pre_title != blank %}
        <h3 class="pre-title">{{ section.settings.pre_title }}</h3>
        {% endif %}
        {% if section.settings.title != blank %}
          <h2 class="title">{{ section.settings.title }}</h2>
        {% endif %}
        {% if section.settings.text != blank %}
          <p class="text">{{ section.settings.text }}</p>
        {% endif %}
        {% if section.settings.link_text != blank %}
          <a href="{{ section.settings.link_url }}" class="link">{{ section.settings.link_text }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "IMAGE W/ TXT",
  "settings":[
    {
      "type": "header",
      "content": "Image",
      "info": "------"
    },
    {
      "type": "image_picker",
      "id": "desk_img",
      "label": "Image (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "mob_img",
      "label": "Image (Mobile)"
    },
    {
      "type": "url",
      "id": "img_link",
      "label": "Image Link"
    },
    {
      "type": "select",
      "id": "img_width",
      "label": "Image Width",
      "info": "Just For Desktop",
      "options": [
        {
          "value": "full",
          "label": "Full"
        },
        {
          "value": "extra-large",
          "label": "Extra Large"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "small",
          "label": "Small"
        }
      ]
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "pre_title",
      "label": "Pre Title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    }
  ],
  "presets": [
    {
      "name": "IMAGE W/ TXT"
    }
  ]
}
{% endschema %}