{{ 'latest-collection.css' | asset_url | stylesheet_tag }}

<div class="latest-collection">
  <div class="container">
    <div class="wrapper">
      <div class="main-grid">
        {% for block in section.blocks %}
          <a href="{{ block.settings.link_url }}" class="collection-item">
            {% if block.settings.img_desk %}
              <div class="img-wrap {% if block.settings.img_mob != blank %}desk-img{% endif %}">
                {% render 'responsive--image' with block.settings.img_desk as image, max_width: 960, class: 'img'%}
              </div>
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            {% if block.settings.img_mob != blank %}
              <div class="img-wrap mob-img">
                {% render 'responsive--image' with block.settings.img_mob as image, max_width: 209, class: 'img' %}
              </div>
            {% endif %}
            <div class="content-wrap">
              {% if block.settings.pre_title != blank %}
                <h4 class="pre-title">
                {{ block.settings.pre_title }}
                </h4>
              {% endif %}
              {% if block.settings.title != blank %}
                <h2 class="title">
                {{ block.settings.title }}
                </h2>
              {% endif %}
              {% if block.settings.btn_text != blank %}
                <div class="button">
                  {{ block.settings.btn_text }}
                </div>
              {% endif %}
            </div>
            {% if block.settings.link_text != blank %}
              <div class="link">
                <span class="link-text">{{ block.settings.link_text }}</span>
                <span class="arrow">
                  {% include 'icon-right-arrow' %}
                </span>
              </div>
            {% endif %}
            </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Latest Collection",
  "settings": [],
  "blocks": [
    {
      "name": "Collection Item",
      "type": "collection_item",
      "settings": [
        {
          "type": "header",
          "content": "Image",
          "info": "-------"
        },
        {
          "type": "image_picker",
          "id": "img_desk",
          "label": "Image (Desktop)"
        },
        {
          "type": "image_picker",
          "id": "img_mob",
          "label": "Image (Mobile)"
        },
        {
          "type": "header",
          "content": "Content",
          "info": "-------"
        },
        {
          "type": "text",
          "id": "pre_title",
          "label": "Pre Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "Shop All"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link Url"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text (Mobile)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Homepage - Latest Collection",
      "category": "Homepage"
    }
  ]
} 
{% endschema %}