{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}
<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
{{ 'component-facets.css' | asset_url | stylesheet_tag }}
<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'facets-desktop.js' | asset_url }}" defer="defer"></script>

{% comment %}
  Metafields
{% endcomment %}
{% assign author_quote = collection.metafields.seed.author_quote %}
{% assign author_name = collection.metafields.seed.author_name %}
{% assign grid_image = collection.metafields.seed.grid_image | img_url:"master" %}
{% assign grid_url = collection.metafields.seed.grid_image_link %}
{% assign grid_image_2 = collection.metafields.seed.grid_image_2 | img_url:"master" %}
{% assign grid_url_2 = collection.metafields.seed.grid_image_link_2 %}

<div id="ProductGridContainer" class="collection-main__bg">
  <div class="collection-main__hero-text">
    {% if collection.description != blank %}
    {{ collection.description }}
    {% else %}
    lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt abore
    {% endif %}
  </div>
  {%- paginate collection.products by 48 -%}
      <div class="collection-main">
        <div class="loading-overlay gradient"></div>
          <div class="collection-main__wrapper">
            <div class="collection-main__heading-filter" id="main-collection-filters" data-id="{{ section.id }}">
              {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, collapse_on_larger_devices: false %}
              {% render 'facets--desktop' results: collection %}
            </div>
  
            <ul id="collection-grid" data-id="{{ section.id }}" class="collection-grid collection-grid--3">
              {%- for product in collection.products -%}
                <li class="product-card">
                  {% render 'product-card',
                    product: product,
                    show_title: true,
                    show_subtitle: true,
                    show_price: true,
                    show_badges: true
                  %}
                </li>
              {%- endfor -%}
              {% if author_quote != blank %}
                {% render 'collection-quote', author_quote: author_quote, author_name: author_name %}
              {% endif %}
              {% if collection.metafields.seed.grid_image != blank %}
                {% render 'collection-promo', 
                  promo_image: grid_image, 
                  promo_image_url: grid_url
                %}
              {% endif %}
              {% if collection.metafields.seed.grid_image_2 != blank %}
                {% render 'collection-promo-2', 
                  promo_image: grid_image_2, 
                  promo_image_url: grid_url_2
                %}
              {% endif %}
            </ul>
            {%- if paginate.pages > 1 -%}
          {% render 'pagination', paginate: paginate, anchor: '' %}
        {%- endif -%}
          </div>
      </div>
  {%- endpaginate -%}
</div>
{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "settings": [
  ]
}
{% endschema %}
