{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}

<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

  {{ 'component-facets.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>

<div id="ProductGridContainer" class="collection-main__bg">
  <div class="collection-main__hero-text">
    {% if collection.description != blank %}
    {{ collection.description }}
    {% else %}
    lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt abore
    {% endif %}
  </div>
  {%- paginate collection.products by 24 -%}
      <div class="collection-main">
        <div class="loading-overlay gradient"></div>
          <div class="collection-main__wrapper">
            <div class="collection-main__heading-filter" id="main-collection-filters" data-id="{{ section.id }}">
              {% render 'facets', results: collection, enable_filtering: true, enable_sorting: false, collapse_on_larger_devices: true %}
            </div>
            <ul id="product-grid" data-id="{{ section.id }}" class="collection-grid collection-grid--3">
              {%- for product in collection.products -%}
                <li class="product-card">
                  {% render 'product-card',
                    product: product,
                    show_title: true,
                    show_subtitle: true,
                    show_price: true
                  %}
                </li>
              {%- endfor -%}
            </ul>
            {%- if paginate.pages > 1 -%}
          {% render 'pagination', paginate: paginate, anchor: '' %}
        {%- endif -%}
          </div>
      </div>
  {%- endpaginate -%}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "settings": [
  ]
}
{% endschema %}
