{{ 'product-gallery.css' | asset_url | stylesheet_tag }}

<style>
  @media screen and (min-width: 767px) {
    .product-gallery .gallery {
      --product-per-row: {{section.settings.products_per_row}};
      grid-template-columns: repeat(var(--product-per-row),1fr);
    }
  }
</style>

<div class="product-gallery">
  <div class="index-container">
    <div class="wrapper">
      {% if section.settings.title != blank %}
        <div class="header-wrap">
          <h3 class="title {{ section.settings.title_font }}">{{ section.settings.title }}</h3>
          {% if section.settings.text != blank %}
            <p class="text">{{ section.settings.text }}</p>
          {% endif %}
        </div>
      {% endif %}
      <div class="gallery">
          {% for product in collections[section.settings.choose_collection].products limit: section.settings.products_to_show %}
            {% if section.settings.show_title %}
            {% render 'product-card',
                    product: product,
                    show_title: true,
                    show_subtitle: true,
                    show_price: false,
                    swiper_slide: false
                  %}
            {% else %}
            {% render 'product-card',
              product: product,
              show_title: false,
              show_subtitle: false,
              show_price: false,
              swiper_slide: false
            %}
            {% endif %}
          {% endfor %}
      </div>
      {% if section.settings.btn_text != blank %}
        <a href="{{ section.settings.btn_url }}" class="button">{{ section.settings.btn_text }}</a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "COLLECTION GRID",
  "settings": [
    {
      "type": "header",
      "content": "Collection",
      "info": "-------"
    },
    {
      "type": "collection",
      "id": "choose_collection",
      "label": "Choose Collection"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show Product Title"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "Maximum products to show"
    },
    {
      "type": "range",
      "id": "products_per_row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 2,
      "label": "Products Per Row"
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "collection"
    },
    {
      "type": "select",
      "id": "title_font",
      "label": "Title Font",
      "options": [
        {
          "value": "headline__arno",
          "label": "Arno"
        },
        {
          "value": "headline__din",
          "label": "Din"
        }
      ],
      "default": "headline__din"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "Shop All"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Url"
    }
  ],
  "presets": [
    {
      "name": "COLLECTION GRID"
    }
  ]
}
{% endschema %}

