{{ 'product-slider-section.css' | asset_url | stylesheet_tag }}
<div class="product-slider-section {% if section.settings.hide_mobile %}product-slider-section__mobile{% endif %}">
  <div class="index-container">
    <div class="wrapper">
      <div class="alpha">
        <div class="content">
          {% if section.settings.title != blank %}
            <h2 class="title">{{ section.settings.title }}</h2>
          {% endif %}
          {% if section.settings.text != blank %}
            <p class="text">{{ section.settings.text }}</p>
          {% endif %}
          {% if section.settings.btn_text != blank %}
            <a href="{{ section.settings.btn_url }}" class="button-wrap">
              <span class="btn">{{ section.settings.btn_text }}</span>
              <span class="arrow">
                {% render 'icon-right-arrow' %}
              </span>
            </a>
          {% endif %}
        </div>
      </div>
       <div class="beta">
        <div class="product-slider">
          <div class="swiper-wrapper">
            {% for product in collections[section.settings.choose_collection].products %}
              {% render 'product-card'
                    product: product,
                    show_title: true,
                    show_subtitle: true,
                    show_price: false,
                    swiper_slide: true
                  %}
            {% endfor %}
          </div>
          <div class="swiper-navigation">
            <div class="swiper-button-prev"></div>
            <div class="swiper-counter"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Slider Section",
  "settings":[
    {
      "type": "checkbox",
      "id": "hide_mobile",
      "label": "Hide Mobile"
    },
    {
      "type": "header",
      "content": "Collection",
      "info": "-------"
    },
    {
      "type": "collection",
      "id": "choose_collection",
      "label": "Choose Collection"
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "GRAPHIC CONTENT"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "it’s a journey we’ve been on for years.. fine-tuning the details. fueled by our longtime obsession with the look and feel of well worn vintage tees."
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "Shop ALL"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Url"
    }
  ],
  "presets":[
    {
      "name": "FLASHCARD FEATURE"
    }
  ]
}

{% endschema %}