{{ 'video.css' | asset_url | stylesheet_tag }}
<div class="video-section" id="video-section">
  <div class="main-container">
    {% if section.settings.title != blank%}
      <h3 class="title">{{ section.settings.title }}</h3>
    {% endif %}
    <div class="wrapper">
      <div class="alpha">
        <div class="contents">
        <div class="content">
          {% if section.settings.wrap_title != blank %}
            <h3 class="wrap-title">{{ section.settings.wrap_title }}</h3>
          {% endif %}
          {% if section.settings.title != blank%}
            <h3 class="title mobile-title">{{ section.settings.title }}</h3>
          {% endif %}
          {% if section.settings.top_text != blank %}
            <p class="text">{{ section.settings.top_text }} 
            </p>
          
          {% endif %}
          {% if section.settings.btn != blank  %}
            <div class="btn-wrap">
              <span class="read-more">
                <a href="{{ section.settings.btn_url }}" class="btn">{{ section.settings.btn }}</a>
              </span>
            </div>
          {% endif %}
         </div>
         <div class="info">
        {% if section.settings.bottom_text != blank %}
          <p class="text">{{ section.settings.bottom_text }}</p>
        {% endif %}
         </div>
        </div>
      </div>
      <div class="beta">
        {% if section.settings.add_video %}
          {% if section.settings.video_url != blank %}
            <video 
              autoplay loop muted playsinline>
              <source src="{{ section.settings.video_url }}" type="video/mp4">
            </video>
          {% endif %}
          {% else %}
            <div class="image">
              <img src=" {{section.settings.img | img_url: 'master'}}" alt="">
            </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "VIDEO STORY FEATURE",
  "settings": [
    {
      "type": "image_picker",
      "id": "img",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label":"Main Title"
    },
    {
      "type": "text",
      "id": "wrap_title",
      "label":"Title"
    },
    {
      "type": "text",
      "id": "top_text",
      "label":"Text Two"
    },
    {
      "type": "text",
      "id": "bottom_text",
      "label":"Text one"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text (Mobile)",
      "default": "read more..."
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "btn",
      "label":"Button"
    },
    {
      "type": "header",
      "content": "Video",
      "info": "-------"
    },
    {
      "type": "checkbox",
      "id": "add_video",
      "label": "Add Video",
      "default": true,
      "info": "Either add video or Image."
    },
    {
      "type": "text",
      "id": "video_url",
      "label": "Video URL"
    }
  ],
  "presets": [
    {
      "name": "VIDEO STORY FEATURE"
    }
  ]
}
{% endschema %}
