<style>
  #shopify-section-{{ section.id }} .product-slider {
    --desk-bg-color: {{ section.settings.desk_bg_color }};
    background-color: var(--desk-bg-color);
  }
  @media screen and (max-width: 767px) {
    #shopify-section-{{ section.id }} .product-slider {
      --mob-bg-color: {{ section.settings.mob_bg_color }};
      background-color: var(--mob-bg-color);
    }
  }
</style>

<div class="product-slider">
  <div class="fabric-container">
    <div class="product-grid">
      <div class="swiper-wrapper">
        {% if section.settings.choose_collection != blank %}
          {% for product in collections[section.settings.choose_collection].products %}
            {% render 'product-card' with section, product: block.settings.choose_product,
                    product: product,
                    show_title: true,
                    show_subtitle: true,
                    show_price: false,
                    swiper_slide: true
                  %}
          {% endfor %}
          {% else %}
          {% for index in (1..6) %}
            <div class="product-item swiper-slide">
              <div class="img-wrap">
                {% assign placeholder = 'product-' | append: index %}
                {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="swiper-scrollbar"></div>
    </div>
    {% if section.settings.btn_text != blank %}
      <a href="{{ section.settings.btn_url }}" class="btn">{{ section.settings.btn_text }}</a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Product Slider",
  "settings": [
    {
      "type": "header",
      "content": "Color",
      "info": "-------"
    },
    {
      "type": "color",
      "id": "desk_bg_color",
      "label": "Background Color (Desktop)"
    },
    {
      "type": "color",
      "id": "mob_bg_color",
      "label": "Background Color (Mobile)"
    },
    {
      "type": "header",
      "content": "Collection",
      "info": "-------"
    },
    {
      "type": "collection",
      "id": "choose_collection",
      "label": "Choose Collection"
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "info": "Just For Mobile"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Url"
    }
  ],
  "presets": [
    {
      "name": "Product Slider",
      "category": "Product Slider"
    }
  ]
}
{% endschema %}