{{ 'product-recommendation.css' | asset_url | stylesheet_tag }}

<product-recommendations  class="product-recommendations" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4">
  <div class="main-container">
    {% if section.settings.pre_title != blank %}
      <h4 class="pre-title">{{ section.settings.pre_title }}</h4>
    {% endif %}
    {% if  section.settings.heading != blank %}
      <h3 class="title">{{ section.settings.heading }}</h3>
    {% endif %}
    <div class="product-recommendation__grid">
        {% for recommendation in recommendations.products %}
            {% render 'product-card',
                    product: recommendation,
                    show_title: false,
                    show_subtitle: false,
                    show_price: false
                  %}
        {% endfor %}
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
  </product-recommendations>
{% javascript %}
  class ProductRecommendations extends HTMLElement {
    constructor() {
      super();

      const handleIntersection = (entries, observer) => {
        if (!entries[0].isIntersecting) return;
        observer.unobserve(this);

        fetch(this.dataset.url)
          .then(response => response.text())
          .then(text => {
            const html = document.createElement('div');
            html.innerHTML = text;
            const recommendations = html.querySelector('product-recommendations');
            if (recommendations && recommendations.innerHTML.trim().length) {
              this.innerHTML = recommendations.innerHTML;
            }
          })
          .catch(e => {
            console.error(e);
          });
      }

      new IntersectionObserver(handleIntersection.bind(this), {rootMargin: '0px 0px 200px 0px'}).observe(this);
    }
  }

  customElements.define('product-recommendations', ProductRecommendations);
{% endjavascript %}


{% schema %}
{
  "name": "t:sections.product-recommendations.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "pre_title",
      "label": "Pre Title"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "You may also like",
      "label": "t:sections.product-recommendations.settings.heading.label"
    }
  ]
}
{% endschema %}
