{{ 'promise-section.css' | asset_url | stylesheet_tag }}
<div class="promise-section">
  <div class="promise-container">
    <div class="wrapper">
      <div class="content-wrap">
        <div class="alpha">
          <div class="content">
            {% if section.settings.pre_title != blank %}
              <h3 class="pre-title">{{ section.settings.pre_title }}</h3>
            {% endif %}
             {% if section.settings.title != blank %}
              <div class="title-wrap">
                <h2 class="title">{{ section.settings.title }}</h2>
              </div>
             {% endif %}
             {% if section.settings.text != blank %}
              <div class="text-wrap">
                <p class="text">{{ section.settings.text }}</p>
              </div>
             {% endif %}
            {% if section.settings.btn_text != blank %}
              <a href="{{ section.settings.link_url }}" class="btn">
                {{ section.settings.btn_text }}
              </a>
            {% endif %}
          </div>
        </div>
        <div class="beta">
          <a href="{{ section.settings.link_url }}" class="image">
            {% if section.settings.desk_img != blank %}
              {% render 'responsive--image' with section.settings.desk_img as image, max_width: 428, class: 'img', mob_img: section.settings.mob_img %}
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            {% if section.settings.mob_img != blank %}
              {% render 'responsive--image' with section.settings.mob_img as image, max_width: 360, class: 'img mob-image' %}
            {% endif %}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Promise Section",
  "settings": [
    {
      "type": "header",
      "content": "Image",
      "info": "-------"
    },
    {
      "type": "image_picker",
      "id": "desk_img",
      "label": "Image (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "mob_img",
      "label": "Image (Mobile)"
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "pre_title",
      "label": "Pre Title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link Url"
    }
  ],
  "presets": [
    {
      "name": "Promise Section"
    }
  ]
}
{% endschema %}