{{ 'rich-text-section.css' | asset_url | stylesheet_tag }}
<div class="rich-text-section">
  <div class="index-container">
    <div class="wrapper {{ section.settings.text_align }}">
      {% if section.settings.title != blank %}
        <h4 class="title {{ section.settings.title_font }}">{{ section.settings.title }}</h4>
      {% endif %}
      {% if  section.settings.text != blank %}
        <div class="text-wrap">
          <p class="text">{{ section.settings.text }}</p>
        </div>
      {% endif %}
      {% if section.settings.btn_text != blank %}
        <a  href="{{ section.settings.btn_url}}"  class="button-wrap">
          <span class="{% if section.settings.show_button %}button{% else %}button--link{% endif %}">{{ section.settings.btn_text }}</span>
        </a>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "TXT W/ LINK",
  "settings":[
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text Align",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_font",
      "label": "Title Font",
      "options": [
        {
          "value": "headline__arno",
          "label": "Arno"
        },
        {
          "value": "headline__din",
          "label": "Din"
        }
      ],
      "default": "headline__arno"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Url"
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "Show Button Instead of Link"
    }
  ],
  "presets":[
    {
      "name": "TXT W/ LINK"
    }
  ]
}
{% endschema %}