{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}
{% if section.settings.text != blank %}
  <section class="custom-rich-text {% if section.settings.mobile_hide %}mobile-hide{% endif %} {% if section.settings.desktop_hide %}desktop-hide{% endif %} {{ section.settings.margin_bottom }}" style="background-color:{{ section.settings.bg_color }};">
    <div class="fabric-container">
      <div class="wrapper">
        <div class="text-wrap">
          <p class="text">{{ section.settings.text }}</p>
        </div>
        {% if section.settings.link_text != blank %}
          <a class="{% if section.settings.show_link %}button--link{% else %}button button--outline{% endif %}" href="{{ section.settings.link_url }}">
            {{ section.settings.link_text }}
          </a>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "BLOCK TXT W/ LINK",
  "settings": [
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "options": [
        {
          "value": "section-bottom__none",
          "label": "0px"
        },
        {
          "value": "section-bottom__small",
          "label": "25px"
        },
        {
          "value": "section-bottom__medium",
          "label": "50px"
        },
        {
          "value": "section-bottom__large",
          "label": "100px"
        }
      ],
      "default": "section-bottom__large"
    },
    {
      "type": "checkbox",
      "id": "mobile_hide",
      "label": "Hide on Mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "desktop_hide",
      "label": "Hide on Desktop",
      "default": false
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#F0EFEC"
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text",
      "default": "FIND YOUR FIT"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link Url"
    },
    {
      "type": "checkbox",
      "id": "show_link",
      "label": "Show Link Instead of Button",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "BLOCK TXT W/ LINK"
    }
  ]
}
{% endschema %}
