{{ 'section-four-item-feature.css' | asset_url | stylesheet_tag }}

<div class="image-four-item-feature {% if section.settings.mobile_hide %}mobile-hide{% endif %} {% if section.settings.desktop_hide %}desktop-hide{% endif %}">
  <div class="four-item-feature-container">
    <div class="wrapper">
      <div class="header-wrap">
        {% if section.settings.title != blank %}
          <h2 class="{{ section.settings.title_font }}">{{ section.settings.title }}</h2>
        {% endif %}
        {% if section.settings.mob_img != blank %}
          <div class='img-wrap'>
            {% render 'responsive--image' with section.settings.mob_img as image, max_width: 404, class: 'mob-image' %}
          </div>
        {% endif %}
        {% if section.settings.text != blank %}
          <p class="text">{{ section.settings.text }}</p>
        {% endif %}
        {% if section.settings.btn_text != blank %}
          <a href="{{ section.settings.btn_url }}" class="btn">{{ section.settings.btn_text }}</a>
        {% endif %}
      </div>
      <div class="four-item-feature">
        <div class='grid-header'>
          {% if section.settings.pre_title != blank %}
            <h5 class="pre-title">{{ section.settings.pre_title }}</h5>
          {% endif %}
          {% if section.settings.grid_title != blank %}
            <h2 class="{{ section.settings.title_font }}">{{ section.settings.grid_title }}</h3>
          {% endif %}
        </div>
        <div class="four-item-feature-grid">
          <div class="swiper-wrapper">
            {% for product in collections[section.settings.choose_collection].products limit: 4 %}
              {% if product.featured_image != blank %}
                <a href="{{ product.url }}" class="grid-item swiper-slide">
                  {% render 'responsive--image' with product.featured_image as image, max_width: 374, class: 'image featured-image' %}
                  {% if product.images[1] != blank %}
                    {% render 'responsive--image' with product.images[1] as image, max_width: 374, class: 'image toggle-image' %}
                  {% endif %}
                </a>
              {% endif %}
            {% endfor %}
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
      {% if section.settings.btn_text != blank %}
      <div class="text-center">
        <a href="{{ section.settings.btn_url }}" class="{% if section.settings.show_button %}button button--outline{% else %}button--link{% endif %}">{{ section.settings.btn_text }}</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "4 ITEM FEATURE",
  "settings": [
    {
      "type": "checkbox",
      "id": "mobile_hide",
      "label": "Hide on Mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "desktop_hide",
      "label": "Hide on Desktop",
      "default": false
    },
    {
      "type": "header",
      "content": "Collection",
      "info": "-------"
    },
    {
      "type": "collection",
      "id": "choose_collection",
      "label": "Choose Collection"
    },
    {
      "type": "header",
      "content": "Image",
      "info": "-------"
    },
    {
      "type": "image_picker",
      "id": "mob_img",
      "label": "Image ( Mobile )"
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "BRIGHTER DAYS"
    },
    {
      "type": "select",
      "id": "title_font",
      "label": "Title Font",
      "options": [
        {
          "value": "headline__arno",
          "label": "Arno"
        },
        {
          "value": "headline__din",
          "label": "Din"
        }
      ],
      "default": "headline__din"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "with the changing of the seasons, we look forward to the feeling of hope, the freedom of wander, the chance to chase the sun."
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "SHOP Collection"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Url"
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "Show Button Instead of Link"
    },
    {
      "type": "header",
      "content": "Extra Content For Mobile",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "pre_title",
      "label": "Pre Title",
      "default": "( essentials  )"
    },
    {
      "type": "text",
      "id": "grid_title",
      "label": "Grid Title",
      "default": "EVERY DAY CARRY"
    }
  ],
  "presets": [
    {
      "name": "4 ITEM FEATURE"
    }
  ]
}
{% endschema %}
