{{ 'section-image-overlay-feature.css' | asset_url | stylesheet_tag }}
<section class="main-section {% if section.settings.show_section %} show-main-section{% endif %} {% if section.settings.show_section_desk %} desk-main-section{% endif %} {% if section.settings.show_section_mob %} mob-main-section{% endif %} {{ section.settings.margin_bottom }}">
  <div class="new-arrival-section {% if section.settings.change_alignment %}alignment{% endif %}"  style="background-image: url({{ section.settings.bg_img | img_url: 'master' }})">
    <div class="index-container" >
      <div class="wrapper">
         <div class="contents">
        <div class="alpha">
          <div class="content-wrap">
            {% if section.settings.pre_title != blank %}
              <h4>{{ section.settings.pre_title }}</h3>
            {% endif %}
            {% if section.settings.title != blank %}
              <h2>{{ section.settings.title }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
              <div class="text-wrap">{{ section.settings.text }}</div>
            {% endif %}
            {% if section.settings.btn_text != blank %}
              <a href="{{ section.settings.link_url }}" class="button button--outline">{{ section.settings.btn_text }}</a>
            {% endif %}
          </div>
        </div>
        {% if section.settings.image != blank %}
          <div class="beta">
            {% if section.settings.image_mobile != blank %}
              <a href="{{ section.settings.link_url }}" class="img-link mobile-hide">
                {% render 'responsive--image' with section.settings.image as image, max_width: 671, class: 'img' %}
              </a>
              <a href="{{ section.settings.link_url }}" class="img-link desktop-hide">
                {% render 'responsive--image' with section.settings.image_mobile as image, max_width: 671, class: 'img' %}
              </a>
            {% else %}
            <a href="{{ section.settings.link_url }}" class="img-link">
              {% render 'responsive--image' with section.settings.image as image, max_width: 671, class: 'img' %}
            </a>
            {% endif %}
          </div>
        {% endif %}
         </div>
      </div>
    </div>  
  </div>
</section>
{% schema %}
{
  "name": "IMAGE OVERLAY FEATURE",
  "settings": [
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "options": [
        {
          "value": "section-bottom__none",
          "label": "0px"
        },
        {
          "value": "section-bottom__small",
          "label": "25px"
        },
        {
          "value": "section-bottom__medium",
          "label": "50px"
        },
        {
          "value": "section-bottom__large",
          "label": "100px"
        }
      ],
      "default": "section-bottom__large"
    },
    {
      "type": "header",
      "content": "Image",
      "info": "------"
    },
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile Image"
    },
    {
      "type": "header",
      "content": "Alignment",
      "info": "-------"
    },
    {
      "type": "checkbox",
      "id": "change_alignment",
      "label": "Change Alignment",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_section_mob",
      "label": "Show Section (Only Mobile)",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_section_desk",
      "label": "Show Section (Only Desktop)",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show Section (Both Desktop And Mobile)",
      "default": true
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "pre_title",
      "label": "Pre Title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "html",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "text",
      "id": "link_url",
      "label": "Link Url"
    }
  ],
  "presets": [
    {
      "name": "IMAGE OVERLAY FEATURE"
    }
  ]
}

{% endschema %}