{{ 'section-hero-banner.css' | asset_url | stylesheet_tag }}

<div class="hero-inner">
  <div class="container">
    <div class="banner">
      <a href="{{ section.settings.img_url }}" class="banner-img">
        {% if section.settings.desk_img != blank %}
          {% render 'responsive--image' with section.settings.desk_img as image, max_width: 1920, class: 'image', mob_img: section.settings.mob_img %}
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        {% if section.settings.mob_img != blank %}
          {% render 'responsive--image' with section.settings.mob_img as image, max_width: 360, class: 'image mob-image' %}
        {% endif %}
      </a>
      <div class="content-wrap">
        {% if section.settings.main_title != blank %}
          <h1 class="main-title {{ section.settings.title_font }}" style="color: {{ section.settings.font_color }}">{{ section.settings.main_title }}</h1>
        {% endif %}
        {% if section.settings.text != blank %}
          <p class="text" style="color: {{ section.settings.font_color }}">{{ section.settings.text }}</p>
        {% endif %}
      </div>
      {% if section.settings.link_text != blank %}
        <a class="link {% if section.settings.show_button %}button{% endif %}" href="{{ section.settings.link }}">
          <span class="link-text">{{ section.settings.link_text }}</span>
          {% if section.settings.show_down_arrow %}
          <div class="icon-wrap">
            {% include 'icon-down' %}
          </div>
        {% endif %}
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "HERO W/ TXT OVERLAY",
  "class": "hero-banner",
  "settings": [
    {
      "type": "header",
      "content": "Image",
      "info": "-------"
    },
    {
      "type": "image_picker",
      "id": "desk_img",
      "label": "Banner Image (Desktop)"
    },
    {
      "type": "image_picker",
      "id": "mob_img",
      "label": "Banner Image (Mobile)"
    },
    {
      "type": "url",
      "id": "img_url",
      "label": "Banner Image Url"
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title"
    },
    {
      "type": "select",
      "id": "title_font",
      "label": "Title Font",
      "options": [
        {
          "value": "headline__arno",
          "label": "Arno"
        },
        {
          "value": "headline__din",
          "label": "Din"
        }
      ],
      "default": "headline__din"
    },
    {
      "type": "color",
      "id": "font_color",
      "label": "Text Color",
      "default": "#222222"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Button Text",
      "default": "FIND YOUR FIT"
    },
    {
      "type": "text",
      "id": "link",
      "label": "Button Link",
      "default": "#"
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "Button Link"
    },
    {
      "type": "checkbox",
      "id": "show_down_arrow",
      "label": "Show Down Arrow"
    }
  ],
  "presets": [
    {
      "name": "HERO W/ TXT OVERLAY"
    }
  ]
}
{% endschema %}
