{{ 'section-image-gallery.css' | asset_url | stylesheet_tag }}
<section class="image-gallery {% if section.settings.mobile_hide %}mobile-hide{% endif %} {% if section.settings.desktop_hide %}desktop-hide{% endif %} {{ section.settings.margin_bottom }}">
  <div class="gallery-container">
    <div class="wrapper">
      <div class="gallery">
        {% for block in section.blocks %}
          {% if block.settings.image != blank %}
            <div class="gallery-item">
              {% render 'responsive--image' with block.settings.image as image, max_width: 247, class: 'image' %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="image-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            {% for block in section.blocks %}
              {% if forloop.index < 4 %}
                {% if block.settings.image != blank %}
                  <div class="img-wrap image-{{forloop.index}}">
                    {% render 'responsive--image' with block.settings.image as image, max_width: 247, class: 'image' %}
                  </div>
                {% endif %}
                {% else %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="swiper-slide">
            {% for block in section.blocks %}
              {% if forloop.index > 3 and forloop.index < 7 %}
                {% if block.settings.image != blank %}
                  <div class="img-wrap image-{{forloop.index}}">
                    {% render 'responsive--image' with block.settings.image as image, max_width: 247, class: 'image' %}
                  </div>
                {% endif %}
                {% else %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="swiper-slide">
            {% for block in section.blocks %}
              {% if forloop.index > 6 and forloop.index < 9 %}
                {% if block.settings.image != blank %}
                  <div class="img-wrap image-{{forloop.index}}">
                    {% render 'responsive--image' with block.settings.image as image, max_width: 247, class: 'image' %}
                  </div>
                {% endif %}
                {% else %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Image Gallery",
  "settings": [
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "options": [
        {
          "value": "section-bottom__none",
          "label": "0px"
        },
        {
          "value": "section-bottom__small",
          "label": "25px"
        },
        {
          "value": "section-bottom__medium",
          "label": "50px"
        },
        {
          "value": "section-bottom__large",
          "label": "100px"
        }
      ],
      "default": "section-bottom__large"
    },
    {
      "type": "checkbox",
      "id": "mobile_hide",
      "label": "Hide on Mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "desktop_hide",
      "label": "Hide on Desktop",
      "default": false
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
       {
         "type": "header",
         "content": "Image",
         "info": "-------"
       },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "IMAGE GALLERY"
    }
  ]
}
{% endschema %}