{{ 'section-product-collection-slider.css' | asset_url | stylesheet_tag }}
<div class="featured-collection" style="background-color: {{ section.settings.background_color }};">
  <div class="index-container">
    <div class="wrapper">
      {% if section.settings.main_title != blank %}
        <h2 class="main-title">{{ section.settings.main_title }}</h2>
      {% endif %}
      <div class="content-wrap--desktop">
      {% if section.settings.title != blank %}
        <h3 class="title">{{ section.settings.title }}</h3>
      {% endif %}
      {% if section.settings.link_text != blank %}
        <a href="{{ section.settings.link_url }}" class="link">
          <span class="text">{{ section.settings.link_text }}</span>
        </a>
      {% endif %}
      </div>
      <div class="content-wrap">
        {% if section.settings.mob_title != blank %}
          <h3 class="collection-title">{{ section.settings.mob_title }}</h3>
        {% endif %}
        {% if section.settings.link_text != blank %}
          <a href="{{ section.settings.link_url }}" class="link">
            <span class="text">{{ section.settings.link_text }}</span>
          </a>
        {% endif %}
      </div>
      <div class="product_gallery">
        <div class="swiper-wrapper">
          {% if section.settings.choose_collection != blank %}
            {% for product in collections[section.settings.choose_collection].products %}
              {% if section.settings.show_price %}
              {% assign show_price = 'true'%}
              {% endif %}
              {% if section.settings.show_subtitle %}
              {% assign show_subtitle = 'true'%}
              {% endif %}
              {% if section.settings.show_title %}
              {% assign show_title = 'true'%}
              {% endif %}
              {% if section.settings.show_badges %}
              {% assign show_badges = 'true'%}
              {% endif %}
              {% render 'product-card',
                    product: product,
                    show_title: show_title,
                    show_subtitle: show_subtitle,
                    show_price: show_price,
                    swiper_slide: true,
                    show_badges: show_badges
                  %}
            {% endfor %}
          {% else %}
            {% for index in (1..5) %}
              <div class="product-item swiper-slide">
                <div class="img-wrap">
                  {% assign placeholder = 'product-' | append: index %}
                  {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "PRODUCT COLLECTION SLIDER",
  "settings": [
    {
      "type": "header",
      "content": "Collection",
      "info": "-------"
    },
    {
      "type": "color",
      "id": "background_color",
      "default": "#F7F6F3",
      "label": "BG Color"
    },
    {
      "type": "collection",
      "id": "choose_collection",
      "label": "Choose Collection"
    },
    {
      "type": "header",
      "content": "Content",
      "info": "--------"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show Title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_subtitle",
      "label": "Show Subtitle",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show Price",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_badges",
      "label": "Show Badges",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "label": "Collection Title (Desktop)",
      "default": "Women’s new arrivals"
    },
    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title (Mobile)",
      "default": "new arrivals"
    },
    {
      "type": "text",
      "id": "mob_title",
      "label": "collection Title (Mobile)",
      "default": "WOMEN’s"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text",
      "default": "View all"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link Url"
    }
  ],
  "presets": [
    {
      "name": "PRODUCT COLLECTION SLIDER"
    }
  ]
}
{% endschema %}
