{{ 'section-quote.css' | asset_url | stylesheet_tag }}
<section class="qoute-section {% if section.settings.mobile_hide %}mobile-hide{% endif %} {% if section.settings.desktop_hide %}desktop-hide{% endif %} {{ section.settings.margin_bottom }}" style="background-color:{{ section.settings.background_color }};">
  <div class="container">
    <div class="wrapper">
      <div class="qoute">
        <p class="review h2">{{ section.settings.review }}</p>
        <span class="customer-name">{{ section.settings.customer_name }}</span>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "QUOTE W/ AUTHOR",
  "settings": [
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "options": [
        {
          "value": "section-bottom__none",
          "label": "0px"
        },
        {
          "value": "section-bottom__small",
          "label": "25px"
        },
        {
          "value": "section-bottom__medium",
          "label": "50px"
        },
        {
          "value": "section-bottom__large",
          "label": "100px"
        }
      ],
      "default": "section-bottom__large"
    },
    {
      "type": "checkbox",
      "id": "mobile_hide",
      "label": "Hide on Mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "desktop_hide",
      "label": "Hide on Desktop",
      "default": false
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "review",
      "label": "Review",
      "default": "“i want to die with my blue jeans on.”"
    },
    {
      "type": "text",
      "id": "customer_name",
      "label": "Customer Name",
      "default": "- Andy Warhol"
    },
    {
      "type": "color",
      "id": "background_color",
      "default": "transparent",
      "label": "BG Color"
    }
  ],
  "presets": [
    {
      "name": "QUOTE W/ AUTHOR"
    }
  ]
}
{% endschema %}