{{ 'section-editorial-content.css' | asset_url | stylesheet_tag }}
<section class="custom-content-section {% if section.settings.mobile_hide %}mobile-hide{% endif %} {% if section.settings.desktop_hide %}desktop-hide{% endif %} {{ section.settings.margin_bottom }}">
  <div class="custom-content-container">
    <div class="wrapper">
      <div class="header-wrap">
      {% if section.settings.main_title != blank %}
        <h1 class="main-title">{{ section.settings.main_title }}</h1>
      {% endif %}
      {% if section.settings.main_text != blank %}
        <h2 class="main-text">{{ section.settings.main_text }}</h2>
      {% endif %}
      </div>
      <div class="mob-image1">
        {% if section.settings.mob_img1 != blank %}
          <a href="{{ section.settings.img_url1 }}" class="img-link">
            {% render 'responsive--image' with section.settings.mob_img1 as image, max_width: 389, class: 'image' %}
          </a>
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
      <div class="content-wrap">
        {% for block in section.blocks %}
          {% if block.type == 'info' %}
            {% if block.settings.text != blank %}
              <p class="text">{{ block.settings.text }}</p>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="images">
        {% assign index = 1 %}
        {% for block in section.blocks %}
          {% if block.type == 'image' %}
            <div class="image-wrap image-{{ index }}">
              {% if block.settings.img != blank %}
                <a href="{{ block.settings.img_url }}" class="img-link">
                  {% render 'responsive--image' with block.settings.img as image, max_width: 710, class: 'image' %}
                </a>
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            </div>
            {% assign index = index | plus: 1 %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="image_with-text">
        <div class="alpha">
          {% if section.settings.desk_img != blank %}
            <a href="{{ section.settings.desk_img_url }}" class="img-link">
              {% render 'responsive--image' with section.settings.desk_img as image, max_width: 649, class: 'image', mob_img: section.settings.mob_img2 %}
            </a>
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          <div class="mob-images">
            {% if section.settings.mob_img2 != blank %}
              <a href="{{ section.settings.img_url2 }}" class="img-link mob-image">
                {% render 'responsive--image' with section.settings.mob_img2 as image, max_width: 360, class: 'image' %}
              </a>
            {% endif %}
            {% if section.settings.overlay_img != blank %}
              <a href="{{ section.settings.overlay_img_url }}" class="img-link overlay-image">
                {% render 'responsive--image' with section.settings.overlay_img as image, max_width: 360, class: 'image' %}
              </a>
            {% endif %}
          </div>
        </div>
        {% if section.settings.text != blank %}
          <div class="beta">
            <div class="info-text">{{ section.settings.text }}</div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "EDITORIAL CONTENT BLOCK",
  "settings": [
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "options": [
        {
          "value": "section-bottom__none",
          "label": "0px"
        },
        {
          "value": "section-bottom__small",
          "label": "25px"
        },
        {
          "value": "section-bottom__medium",
          "label": "50px"
        },
        {
          "value": "section-bottom__large",
          "label": "100px"
        }
      ],
      "default": "section-bottom__large"
    },
    {
      "type": "checkbox",
      "id": "mobile_hide",
      "label": "Hide on Mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "desktop_hide",
      "label": "Hide on Desktop",
      "default": false
    },
    {
      "type": "header",
      "content": "Image",
      "info": "-------"
    },
    {
      "type": "header",
      "content": "Desktop Image",
      "info": "-------"
    },
    {
      "type": "image_picker",
      "id": "desk_img",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "desk_img_url",
      "label": "Image Url"
    },
    {
      "type": "header",
      "content": "Mobile Image 1",
      "info": "-------"
    },
    {
      "type": "image_picker",
      "id": "mob_img1",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "img_url1",
      "label": "Image Url"
    },
    {
      "type": "header",
      "content": "Mobile Image 2",
      "info": "-------"
    },
    {
      "type": "image_picker",
      "id": "mob_img2",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "img_url2",
      "label": "Image Url"
    },
    {
      "type": "header",
      "content": "Mobile Overlay Image",
      "info": "-------"
    },
    {
      "type": "image_picker",
      "id": "overlay_img",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "overlay_img_url",
      "label": "Image Url"
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title",
      "default": "LOREM IPSUM"
    },
    {
      "type": "text",
      "id": "main_text",
      "label": "Main Text",
      "default": "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ut enim ad minim veniam, quis "
    },
    {
      "type": "html",
      "id": "text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "name": "Info",
      "type": "info",
      "settings": [
        {
          "type": "header",
          "content": "Content",
          "info": "-------"
        },
        {
          "type": "html",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "header",
          "content": "Image",
          "info": "-------"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "img_url",
          "label": "Image Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "EDITORIAL CONTENT BLOCK"
    }
  ]
}
{% endschema %}