{{ 'section-content-cards.css' | asset_url | stylesheet_tag }}
<div class="fact-section">
  <div class="container">
    <div class="wrapper">
      {% if section.settings.main_title != blank %}
        <div class="header-wrap">
          <h3 class="main-title">{{ section.settings.main_title }}</h3>
        </div>
      {% endif %}
      <div class="custom-grid">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <a href="{{ block.settings.link_url }}" class="grid-item swiper-slide">
              <div class="image-wrap">
                {% if block.settings.desk_img != blank %}
                  {% render 'responsive--image' with block.settings.desk_img as image, max_width: 442, class: 'image', mob_img: block.settings.mob_img %}
                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
                {% if block.settings.mob_img != blank %}
                  {% render 'responsive--image' with block.settings.mob_img as image, max_width: 360, class: 'image mob-image' %}
                {% endif %}
              </div>
              <div class="content-wrap">
                {% if block.settings.title != blank %}
                  <div class="title-wrap">
                    <h4 class="title">{{ block.settings.title }}</h4>
                    <div class="icon-wrap" >
                      {% include 'icon-arrow' %}
                    </div>
                  </div>
                {% endif %}
                {% if block.settings.text != blank %}
                  <p class="text">{{ block.settings.text }}</p>
                {% endif %}
              </div>
            </a>
          {% endfor %}
        </div>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "ADDITIONAL CONTENT CARDS",
  "settings": [
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title",
      "default": "Lorem ipsum dolor"
    }
  ],
  "blocks": [
    {
      "name": "Info",
      "type": "info",
      "settings": [
        {
          "type": "header",
          "content": "Image",
          "info": "-------"
        },
        {
          "type": "image_picker",
          "id": "desk_img",
          "label": "Image (Desktop)"
        },
        {
          "type": "image_picker",
          "id": "mob_img",
          "label": "Image (Mobile)"
        },
        {
          "type": "header",
          "content": "Content",
          "info": "-------"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "ADDITIONAL CONTENT CARDS"
    }
  ]
}
{% endschema %}