{{ 'section-collection-grid.css' | asset_url | stylesheet_tag }}

<style>
  @media screen and (min-width: 767px) {
    .product-gallery .gallery {
      --product-per-row: {{section.settings.products_per_row}};
      grid-template-columns: repeat(var(--product-per-row),1fr);
    }
  }
</style>

<section class="product-gallery {% if section.settings.mobile_hide %}mobile-hide{% endif %} {% if section.settings.desktop_hide %}desktop-hide{% endif %} {{ section.settings.margin_bottom }}">
  <div class="index-container">
    <div class="wrapper">
      {% if section.settings.title != blank %}
        <div class="header-wrap">
          <h3 class="title {{ section.settings.title_font }}">{{ section.settings.title }}</h3>
          {% if section.settings.text != blank %}
            <p class="text">{{ section.settings.text }}</p>
          {% endif %}
        </div>
      {% endif %}
      <div class="gallery">
          {% for product in collections[section.settings.choose_collection].products limit: section.settings.products_to_show %}
            {% if section.settings.show_price %}
              {% assign show_price = 'true'%}
              {% endif %}
              {% if section.settings.show_subtitle %}
              {% assign show_subtitle = 'true'%}
              {% endif %}
              {% if section.settings.show_title %}
              {% assign show_title = 'true'%}
              {% endif %}
              {% if section.settings.show_badges %}
              {% assign show_badges = 'true'%}
              {% endif %}
              {% render 'product-card',
                    product: product,
                    show_title: show_title,
                    show_subtitle: show_subtitle,
                    show_price: show_price,
                    swiper_slide: true,
                    show_badges: show_badges
                  %}
          {% endfor %}
      </div>
      {% if section.settings.btn_text != blank %}
        <div class="text-center">
        <a href="{{ section.settings.btn_url }}" class="button button--outline">{{ section.settings.btn_text }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "COLLECTION GRID",
  "settings": [
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "options": [
        {
          "value": "section-bottom__none",
          "label": "0px"
        },
        {
          "value": "section-bottom__small",
          "label": "25px"
        },
        {
          "value": "section-bottom__medium",
          "label": "50px"
        },
        {
          "value": "section-bottom__large",
          "label": "100px"
        }
      ],
      "default": "section-bottom__large"
    },
    {
      "type": "checkbox",
      "id": "mobile_hide",
      "label": "Hide on Mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "desktop_hide",
      "label": "Hide on Desktop",
      "default": false
    },
    {
      "type": "header",
      "content": "Collection",
      "info": "-------"
    },
    {
      "type": "collection",
      "id": "choose_collection",
      "label": "Choose Collection"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show Title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_subtitle",
      "label": "Show Subtitle",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show Price",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_badges",
      "label": "Show Badges",
      "default": false
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "Maximum products to show"
    },
    {
      "type": "range",
      "id": "products_per_row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 2,
      "label": "Products Per Row"
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "collection"
    },
    {
      "type": "select",
      "id": "title_font",
      "label": "Title Font",
      "options": [
        {
          "value": "headline__arno",
          "label": "Arno"
        },
        {
          "value": "headline__din",
          "label": "Din"
        }
      ],
      "default": "headline__din"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "Shop All"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Url"
    }
  ],
  "presets": [
    {
      "name": "COLLECTION GRID"
    }
  ]
}
{% endschema %}

