{{ 'video-with-text.css' | asset_url | stylesheet_tag }}
<script src="{{ 'video-poster.js' | asset_url }}" defer></script>

<div class="video-with-text">
  <div class="nashville-container">
    <div class="wrapper">
      {% if section.settings.video_controls %}
        {% assign url = section.settings.video_url | split: '?' %}
        {% assign videoUrl = url | first %}
        {% else %}
            {% assign videoUrl = section.settings.video_url %}
      {% endif %}
      <div class="header-wrap">
        {% if section.settings.pre_title != blank %}
          <h6 class="pre-title">{{ section.settings.pre_title }}</h6>
        {% endif %}
        {% if section.settings.title != blank %}
          <h4 class="title">{{ section.settings.title }}</h4>
        {% endif %}
      </div>
      <div class="video-wrap">
        {% if section.settings.video_url != blank %}
          <div class="video">
            <iframe width="560" height="315" src="{{ videoUrl }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        {% endif %}
        {% if section.settings.video_poster != blank %}
          <div class="video-poster">
              {% render 'responsive--image' with section.settings.video_poster as image, max_width: 1920, class: 'image' %}
              <div class="video-play">
                {% include 'icon-video-play' %}
              </div>
          </div>
        {% endif %}
      </div>
      <div class="content-wrap">
        {% if section.settings.main_title != blank %}
          <h2 class="main-title">{{ section.settings.main_title }}</h2>
        {% endif %}
        {% if section.settings.text != blank %}
          <p class="text">{{ section.settings.text }}</p>
        {% endif %}
        {% if section.settings.btn_text != blank %}
          <a href="{{ section.settings.btn_url }}" class="btn">{{ section.settings.btn_text }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Video With Text",
  "settings": [
    {
      "type": "header",
      "content": "Image",
      "info": "------"
    },
    {
        "type": "image_picker",
        "id": "video_poster",
        "label": "Video Poster"
    },
    {
      "type": "header",
      "content": "Video",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "video_url",
      "label": "Video Url"
    },
    {
      "type": "checkbox",
      "id": "video_controls",
      "label": "Video Controls",
      "default": false
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "pre_title",
      "label": "Pre Title",
      "default": "( circa 2012 )"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "take a look back"
    },
    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title",
      "default": "HOW IT ALL STARTED"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "LOREM IPSUM"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Url"
    }
  ],
  "presets": [
    {
      "name": "Nashville - Video Section"
    }
  ]
}
{% endschema %}